{
  "openapi": "3.0.1",
  "info": {
    "title": "Checkout.com API Reference",
    "description": "# Introduction\nCheckout.com provides a collection of APIs that enable you to process and manage payments.  \nOur APIs accept and return JSON in the HTTP body and return HTTP response codes to indicate errors. You can consume the APIs directly using your favorite HTTP/REST library or make use of one of our <a href=\"https://docs.checkout.com/docs/sdks\" target=\"_blank\">SDKs</a>.  \n\nOur unified payments API allows you to accept payments from cards, digital wallets and the most popular alternative payment methods, as well as pay out to a variety of destinations, all using the same integration. \n\nAnd with our webhook management, events and disputes APIs, you can keep on top of your transactions and react to any chargebacks, keeping your business running smoothly. \n# Authentication\nWhen you sign up for an account, you are given an OAuth 2.0 access key ID and secret that can be used to generate access tokens to authenticate with our API.  \n\nNever share your access key credentials. Keep them guarded and secure.\n",
    "termsOfService": "https://checkout.com/terms/",
    "contact": {
      "name": "Checkout.com Support",
      "url": "https://checkout.com",
      "email": "support@checkout.com"
    },
    "license": {
      "name": "Checkout.com",
      "url": "https://checkout.com/api/license/"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://assets.checkout.com/docs/logos/checkout-api-reference-logo.svg",
      "backgroundColor": "#F0F3F7",
      "altText": "Checkout.com API logo"
    }
  },
  "servers": [
    {
      "url": "https://api.checkout.com",
      "description": "Live API"
    },
    {
      "url": "https://api.sandbox.checkout.com",
      "description": "Sandbox API"
    }
  ],
  "paths": {
    "/connect/token": {
      "post": {
        "tags": [
          "Access"
        ],
        "summary": "Request an access token",
        "description": "OAuth endpoint to exchange your access key ID and access key secret for an access token.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "enum": [
                      "client_credentials"
                    ],
                    "type": "string",
                    "example": "client_credentials"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Access key ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Access key secret"
                  },
                  "scope": {
                    "type": "string",
                    "description": "The access key scope",
                    "example": "gateway"
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "grant_type": "client_credentials",
                    "client_id": "ack_clckqmmnyfiupexjew7shh5ahe",
                    "client_secret": "Pmg36sDWQ9WxtPR3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - A successful access token response as per [RFC6749](https://tools.ietf.org/html/rfc6749#section-4.4.3)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "2YotnFZFEjr1zCsicMWpAA"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "example"
                    },
                    "expires_in": {
                      "type": "number",
                      "example": 3600
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - An unsuccessful access token response as per [RFC6749](https://tools.ietf.org/html/rfc6749#section-4.4.3)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "enum": [
                        "invalid_request",
                        "invalid_client",
                        "invalid_grant",
                        "unauthorized_client",
                        "unsupported_grant_type",
                        "invalid_scope"
                      ],
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --location --request POST 'https://access.checkout.com/connect/token'\n  --header 'Content-Type: application/x-www-form-urlencoded'\n  --header 'Authorization: Basic dGVzdC1hY2Nlc3Mta2V5LWlkOnRlc3QtYWNjZXNzLWtleS1zZWNyZXQ='\n  --data-urlencode 'grant_type=client_credentials'\n  --data-urlencode 'scope=gateway'"
          }
        ]
      },
      "servers": [
        {
          "url": "https://access.checkout.com",
          "description": "Live API"
        },
        {
          "url": "https://access.sandbox.checkout.com",
          "description": "Sandbox API"
        }
      ]
    },
    "/disputes": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get disputes",
        "description": "Returns a list of all disputes against your business. The results will be returned in reverse chronological order, showing the last modified dispute (for example, where you've recently added a piece of evidence) first. You can use the optional parameters below to skip or limit results.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The numbers of results to return",
            "schema": {
              "maximum": 250,
              "minimum": 1,
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of results to skip",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The date and time from which to filter disputes, based on the dispute's `last_update` field",
            "schema": {
              "type": "string",
              "format": "ISO-8601"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The date and time until which to filter disputes, based on the dispute's `last_update` field",
            "schema": {
              "type": "string",
              "format": "ISO-8601"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the dispute",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_ids",
            "in": "query",
            "description": "One or more comma-separated client entities. This works like a logical *OR* operator",
            "schema": {
              "type": "string",
              "example": "ent_wxglze3wwywujg4nna5fb7ldli,ent_vkb5zcy64zoe3cwfmaqvqyqyku"
            }
          },
          {
            "name": "sub_entity_ids",
            "in": "query",
            "description": "One or more comma-separated sub-entities. This works like a logical *OR* operator",
            "schema": {
              "type": "string",
              "example": "ent_uzm3uxtssvmuxnyrfdffcyjxeu,ent_hy5wtzwzeuwefmsnjtdhw4scfi"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "One or more comma-separated statuses. This works like a logical *OR* operator",
            "schema": {
              "type": "string",
              "example": "evidence_required,evidence_under_review"
            }
          },
          {
            "name": "payment_id",
            "in": "query",
            "description": "The unique identifier of the payment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_reference",
            "in": "query",
            "description": "An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_arn",
            "in": "query",
            "description": "The acquirer reference number (ARN) that you can use to query the issuing bank",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_mcc",
            "in": "query",
            "description": "The merchant category code (MCC) of the payment (ISO 18245)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "this_channel_only",
            "in": "query",
            "description": "If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disputes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputePaged"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable paging",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagingError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "disputes",
              "disputes:view"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst disputes = await cko.disputes.get({\n  limit: 5,\n  id: \"dsp_bc94ebda8d275i461229\",\n});"
          }
        ]
      }
    },
    "/disputes/{dispute_id}": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get dispute details",
        "description": "Returns all the details of a dispute using the dispute identifier.",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "security": [
          {
            "OAuth": [
              "disputes",
              "disputes:view"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst disputeDetails = await cko.disputes.getDetails(\n  \"dsp_bc94ebda8d275i461229\"\n);"
          }
        ]
      }
    },
    "/disputes/{dispute_id}/accept": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Accept dispute",
        "description": "If a dispute is legitimate, you can choose to accept it. This will close it for you and remove it from your list of open disputes. There are no further financial implications.",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dispute accepted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "security": [
          {
            "OAuth": [
              "disputes",
              "disputes:accept"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst accept = await cko.disputes.accept(\"dsp_bc94ebda8d275i461229\");"
          }
        ]
      }
    },
    "/disputes/{dispute_id}/evidence": {
      "put": {
        "tags": [
          "Disputes"
        ],
        "summary": "Provide dispute evidence",
        "description": "Adds supporting evidence to a dispute. Before using this endpoint, you first need to [upload your files](#tag/Disputes/paths/~1files/post) using the file uploader. You will receive a file id (prefixed by `file_`) which you can then use in your request. Note that this only attaches the evidence to the dispute, it does not send it to us. Once ready, you will need to submit it. **You must provide at least one evidence type in the body of your request.**\n",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvideEvidenceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Dispute evidence provided successfully"
          },
          "400": {
            "description": "Unprocessable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "security": [
          {
            "OAuth": [
              "disputes",
              "disputes:provide-evidence"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst evidence = await cko.disputes.provideEvidence(\n  \"dsp_bc94ebda8d275i461229\",\n  {\n    proof_of_delivery_or_service_text: \"http://checkout.com/document.pdf\",\n  }\n);"
          }
        ]
      },
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get dispute evidence",
        "description": "Retrieves a list of the evidence submitted in response to a specific dispute. \n",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute evidence retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evidence"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "security": [
          {
            "OAuth": [
              "disputes",
              "disputes:view"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst getEvidence = await cko.disputes.getEvidence(\"dsp_bc94ebda8d275i461229\");"
          }
        ]
      },
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Submit dispute evidence",
        "description": "With this final request, you can submit the evidence that you have previously provided. Make sure you have provided all the relevant information before using this request. You will not be able to amend your evidence once you have submitted it.",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dispute evidence submitted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "security": [
          {
            "OAuth": [
              "disputes",
              "disputes:provide-evidence"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst submitEvidence = await cko.disputes.submit(\"dsp_bc94ebda8d275i461229\");"
          }
        ]
      }
    },
    "/files": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Upload file",
        "description": "Upload a file to use as evidence in a dispute. Your file must be in either JPEG/JPG, PNG or PDF format, and be no larger than 4MB.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "security": [
          {
            "OAuth": [
              "disputes",
              "disputes:provide-evidence"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst file = await cko.files.upload({\n  path: fs.createReadStream(\"./test/files/evidence.jpg\"),\n  purpose: \"dispute_evidence\",\n});"
          }
        ]
      }
    },
    "/files/{file_id}": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get file information",
        "description": "Retrieve information about a file that was previously uploaded.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The file identifier. It is always prefixed by `file_`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File information retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File not found"
          },
          "429": {
            "description": "Too many requests or duplicate request detected"
          }
        },
        "security": [
          {
            "OAuth": [
              "disputes",
              "disputes:view"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst getFile = await cko.files.getFile(\"file_zna32sccqbwevd3ldmejtplbhu\");"
          }
        ]
      }
    },
    "/workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get all workflows",
        "description": "Get all workflows\n",
        "responses": {
          "200": {
            "description": "Workflows retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-all-workflows-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "OAuth": [
              "flow",
              "flow:workflows"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Add a workflow",
        "description": "Add a new Flow workflow\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/add-workflow-request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Workflow added successfully",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/add-workflow-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "OAuth": [
              "flow",
              "flow:workflows"
            ]
          }
        ]
      }
    },
    "/workflows/{workflowId}": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get a workflow",
        "description": "Get the details of a workflow\n",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The workflow identifier",
            "required": true,
            "schema": {
              "pattern": "^wf_[a-z0-9]{26}$",
              "type": "string"
            },
            "example": "wf_c7svxlvo2bbuva4f6s3xu4f7wm"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-workflow-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workflow not found"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "OAuth": [
              "flow",
              "flow:workflows"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Workflows"
        ],
        "summary": "Remove a workflow",
        "description": "Removes a workflow so it is no longer being executed. \nActions of already executed workflows will be still processed.\n",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The workflow identifier",
            "required": true,
            "schema": {
              "pattern": "^wf_[a-z0-9]{26}$",
              "type": "string"
            },
            "example": "wf_c7svxlvo2bbuva4f6s3xu4f7wm"
          }
        ],
        "responses": {
          "204": {
            "description": "Workflow removed successfully",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workflow not found"
          },
          "500": {
            "description": "Internal Error"
          }
        }
      }
    },
    "/workflows/event-types": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get event types",
        "description": "Get a list of sources and their events for building new workflows\n",
        "responses": {
          "200": {
            "description": "Event types retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-event-types-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "OAuth": [
              "flow",
              "flow:workflows"
            ]
          }
        ]
      }
    },
    "/workflows/events/{eventId}": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get an event",
        "description": "Get the details of an event\n",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "pattern": "^evt_[a-z0-9]{26}$",
              "type": "string"
            },
            "example": "evt_x5zm2po6kimubhlfitgt2mfwgi"
          }
        ],
        "responses": {
          "200": {
            "description": "Event retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-event-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event not found"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "OAuth": [
              "flow",
              "flow:events"
            ]
          }
        ]
      }
    },
    "/workflows/events/subject/{subjectId}": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get subject events",
        "description": "Get all events that relate to a specific subject\n",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pay_wlu3wxc26jounofs5iez75qaqa"
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subject-events-response"
                }
              }
            }
          },
          "404": {
            "description": "Subject not found",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "OAuth": [
              "flow",
              "flow:events"
            ]
          }
        ]
      }
    },
    "/forex/quotes": {
      "post": {
        "tags": [
          "Forex"
        ],
        "summary": "Request a quote",
        "description": "Request a quote between a source and destination currency pair.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Quote created",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests or duplicate request detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "security": [
          {
            "OAuth": [
              "fx"
            ]
          }
        ]
      }
    },
    "/instruments": {
      "post": {
        "tags": [
          "Instruments"
        ],
        "summary": "Create an instrument",
        "description": "Exchange a single use Checkout.com token for a payment instrument reference, that can be used at any time to request one or more payments.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreInstrumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Instrument created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreInstrumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "OAuth": [
              "vault"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\ntry {\n  const instrument = await cko.instruments.create({\n    // infered type \"token\",\n    token: \"tok_bzi43qc6jeee5mmnfo4gnsnera\", // Generated by Checkout.Frames\n  });\n} catch (err) {\n  console.log(err.name);\n}"
          }
        ]
      }
    },
    "/marketplace/entities": {
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Onboard a sub-entity",
        "description": "Onboard a sub-entity, so they can start receiving payments. Upon creation, Checkout.com will run due diligence checks. \nIf the checks are successful, the payment capabilities for the sub-entity will be enabled and they can start receiving payments.\n",
        "requestBody": {
          "description": "The sub-entity to be onboarded",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Sub-entity onboarded successfully",
            "headers": {
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              },
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityBasicResponseWithLinks"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error_codes": {
                          "example": [
                            "error_code1",
                            "error_code2"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "marketplace"
            ]
          }
        ]
      }
    },
    "/marketplace/entities/{id}": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Get sub-entity details",
        "responses": {
          "200": {
            "description": "Sub-entity retrieved successfully",
            "headers": {
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              },
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityExtendedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sub-entity not found"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error_codes": {
                          "example": [
                            "error_code1",
                            "error_code2"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "marketplace"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Update sub-entity details",
        "description": "You can update all fields under the ContactDetails, Profile, and Company objects. \nPlease note that when you update a sub-entity we may conduct further due diligence checks when necessary. During these checks, your payment capabilities will remain the same.\n",
        "requestBody": {
          "description": "The sub-entity to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sub-entity updated successfully",
            "headers": {
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              },
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityBasicResponseWithLinks"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sub-entity not found"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error_codes": {
                          "example": [
                            "error_code1",
                            "error_code2"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "marketplace"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The id of the sub-entity",
          "required": true,
          "style": "simple",
          "schema": {
            "type": "string"
          },
          "example": "ent_w4jelhppmfiufdnatam37wrfc4"
        }
      ]
    },
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Request a payment or payout",
        "description": "To accept payments from <a href=\"https://docs.checkout.com/docs/cards\" target=\"blank\">cards</a>, <a href=\"https://docs.checkout.com/docs/wallets\" target=\"blank\">digital wallets</a> and many <a href=\"https://docs.checkout.com/docs/bank-transfers\" target=\"blank\">alternative payment methods</a>, specify the `source.type` field, along with the source-specific data.\n\nTo <a href=\"https://docs.checkout.com/docs/pay-out-to-a-card\" target=\"blank\">pay out to a card</a>, specify the destination of your payout using the `destination.type` field, along with the destination-specific data.\n\nTo verify the success of the payment, check the `approved` field in the response.\n",
        "parameters": [
          {
            "name": "Cko-Idempotency-Key",
            "in": "header",
            "description": "An optional idempotency key for safely retrying payment requests",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              },
              "example": {
                "source": {
                  "type": "token",
                  "token": "tok_4gzeau5o2uqubbk6fufs3m7p54"
                },
                "amount": 6540,
                "currency": "USD",
                "payment_type": "Recurring",
                "reference": "ORD-5023-4E89",
                "description": "Set of 3 masks",
                "capture": true,
                "capture_on": "2019-09-10T10:11:12.0000000+00:00",
                "customer": {
                  "id": "cus_udst2tfldj6upmye2reztkmm4i",
                  "email": "jokershere@gmail.com",
                  "name": "Jack Napier"
                },
                "billing_descriptor": {
                  "name": "SUPERHEROES.COM",
                  "city": "GOTHAM"
                },
                "shipping": {
                  "address": {
                    "address_line1": "Checkout.com",
                    "address_line2": "90 Tottenham Court Road",
                    "city": "London",
                    "state": "London",
                    "zip": "W1T 4TJ",
                    "country": "GB"
                  },
                  "phone": {
                    "country_code": 1,
                    "number": "415 555 2671"
                  }
                },
                "3ds": {
                  "enabled": true,
                  "attempt_n3d": true,
                  "eci": 5,
                  "cryptogram": "AgAAAAAAAIR8CQrXcIhbQAAAAAA=",
                  "xid": "MDAwMDAwMDAwMDAwMDAwMzIyNzY=",
                  "version": "2.0.1"
                },
                "previous_payment_id": "pay_fun26akvvjjerahhctaq2uzhu4",
                "risk": {
                  "enabled": false
                },
                "success_url": "http://example.com/payments/success",
                "failure_url": "http://example.com/payments/fail",
                "payment_ip": "90.197.169.245",
                "recipient": {
                  "dob": "1985-05-15T00:00:00.0000000+00:00",
                  "account_number": 5555554444,
                  "zip": "W1T",
                  "last_name": "Jones"
                },
                "processing": {
                  "mid": 1234567
                },
                "metadata": {
                  "coupon_code": "NY2018",
                  "partner_id": 123989
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment processed successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                },
                "example": {
                  "id": "pay_mbabizu24mvu3mela5njyhpit4",
                  "action_id": "act_mbabizu24mvu3mela5njyhpit4",
                  "amount": 6540,
                  "currency": "USD",
                  "approved": true,
                  "status": "Authorized",
                  "auth_code": 770687,
                  "response_code": 10000,
                  "response_summary": "Approved",
                  "3ds": {
                    "downgraded": true,
                    "enrolled": "N"
                  },
                  "risk": {
                    "flagged": true
                  },
                  "source": {
                    "type": "card",
                    "id": "src_nwd3m4in3hkuddfpjsaevunhdy",
                    "billing_address": {
                      "address_line1": "Checkout.com",
                      "address_line2": "90 Tottenham Court Road",
                      "city": "London",
                      "state": "London",
                      "zip": "W1T 4TJ",
                      "country": "GB"
                    },
                    "phone": {
                      "country_code": 1,
                      "number": "415 555 2671"
                    },
                    "last4": 4242,
                    "fingerprint": "F31828E2BDABAE63EB694903825CDD36041CC6ED461440B81415895855502832",
                    "bin": 424242
                  },
                  "customer": {
                    "id": "cus_udst2tfldj6upmye2reztkmm4i",
                    "email": "jokershere@gmail.com",
                    "name": "Jack Napier"
                  },
                  "processed_on": "2019-09-10T10:11:12.0000000+00:00",
                  "reference": "ORD-5023-4E89",
                  "processing": {
                    "retrieval_reference_number": 909913440644,
                    "acquirer_transaction_id": 4.406443090994999E+20
                  },
                  "eci": 6,
                  "scheme_id": 489341065491658,
                  "links": {
                    "self": {
                      "href": "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4"
                    },
                    "action": {
                      "href": "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4/actions"
                    },
                    "void": {
                      "href": "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4/captures"
                    },
                    "capture": {
                      "href": "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4/voids"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Payment asynchronous or further action required",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests or duplicate request detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "security": [
          {
            "OAuth": [
              "gateway",
              "gateway:payment"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar tokenSource = new TokenSource(\"tok_ubfj2q76miwundwlk72vxt2i7q\");\nvar paymentRequest = new PaymentRequest<TokenSource>(tokenSource, Currency.USD, 5600)\n{\n    Reference = \"ORD-090857\",\n    Capture = false,\n    ThreeDs = true\n};\n\ntry\n{\n    var response = await api.Payments.RequestAsync(paymentRequest);\n\n    if (response.IsPending && response.Pending.RequiresRedirect())\n    {\n        return Redirect(response.Pending.GetRedirectLink().Href);\n    }\n\n    if (response.Payment.Approved)\n        return PaymentSucessful(response.Payment);\n\n    return PaymentDeclined(response.Payment);\n}\ncatch (CheckoutValidationException validationEx)\n{\n    return ValidationError(validationEx.Error);\n}\ncatch (CheckoutApiException apiEx)\n{\n    Log.Error(\"Payment request failed with status code {HttpStatusCode}\", apiEx.HttpStatusCode);\n    throw;\n}"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nTokenSource tokenSource = new TokenSource(\"tok_ubfj2q76miwundwlk72vxt2i7q\");\nPaymentRequest<TokenSource> paymentRequest = PaymentRequest.fromSource(tokenSource, Currency.USD, 5600);\npaymentRequest.setReference(\"ORD-090857\");\npaymentRequest.setCapture(false);\npaymentRequest.setThreeDS(ThreeDSRequest.from(true));\n\ntry {\n    PaymentResponse response = api.paymentsClient().requestAsync(paymentRequest).get();\n\n    if (response.isPending() && response.getPending().requiresRedirect()) {\n        return redirect(response.getPending().getRedirectLink().getHref());\n    }\n\n    if (response.getPayment().isApproved())\n        return paymentSucessful(response.getPayment());\n\n    return paymentDeclined(response.getPayment());\n} catch (CheckoutValidationException e) {\n    return validationError(e.getError());\n} catch (CheckoutApiException e) {\n    LOG.severe(\"Payment request failed with status code \" + e.getHttpStatusCode());\n    throw e;\n}"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n    const payment = await cko.payments.request({\n        source: {\n            // infered type: \"token\"\n            token: 'tok_bzi43qc6jeee5mmnfo4gnsnera' // Generated by Checkout.Frames\n            billing_address: {\n                address_line1: 'Wall Street',\n                address_line2: 'Dollar Avenue',\n                city: 'London',\n                state: 'London',\n                zip: 'W1W W1W',\n                country: 'GB'\n            },\n            phone: {\n                country_code: '44',\n                number: '7123456789'\n            }\n        },\n        currency: 'USD',\n        amount: 1000,\n        payment_type: 'Regular',\n        reference: 'ORDER 1234',\n        description: 'Mint Tea',\n        customer: {\n            email: 'new_user@email.com',\n            name: 'John Smith'\n        },\n        metadata: {\n            myCustomProp: {\n                value: 1\n            }\n        }\n    });\n\n} catch (err) {\n    console.log(err.name)\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n\n$method = new TokenSource('tok_ubfj2q76miwundwlk72vxt2i7q');\n$payment = new Payment($method, 'USD');\n\n$payment->amount = 5600;\n$payment->capture = false;\n$payment->reference = 'ORD-090857';\n$payment->threeDs = new ThreeDs(true);\n\ntry {\n    $details = $checkout->payments()->request($payment);\n\n    $redirection = $details->getRedirection();\n    if ($redirection) {\n        return $redirection;\n    }\n\n    return $details;\n\n} catch (CheckoutModelException $ex) {\n    return $ex->getErrors();\n} catch (CheckoutHttpException $ex) {\n    return $ex->getErrors();\n}"
          }
        ]
      }
    },
    "/payments/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get payment details",
        "description": "Returns the details of the payment with the specified identifier string.\n\nIf the payment method requires a redirection to a third party (e.g., 3D Secure),\nthe redirect URL back to your site will include a `cko-session-id` query parameter\ncontaining a payment session ID that can be used to obtain the details of the payment, for example:\n\nhttp://example.com/success?cko-session-id=sid_ubfj2q76miwundwlk72vxt2i7q.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment or payment session identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay|sid)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment not found"
          }
        },
        "security": [
          {
            "OAuth": [
              "gateway",
              "gateway:payment-details"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar sessionId = \"sid_y3oqhf46pyzuxjbcn2giaqnb44\";\nGetPaymentResponse payment = await api.Payments.GetAsync(sessionId);\n\nif (payment.Approved)\n{            \n    var cardSourceId = payment.Source.AsCard().Id;\n}"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString sessionId = \"sid_y3oqhf46pyzuxjbcn2giaqnb44\";\nGetPaymentResponse payment = api.paymentsClient().getAsync(sessionId).get();\n\nif (payment.isApproved()) {\n    String cardSourceId = ((CardSourceResponse)payment.getSource()).getId();\n}"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.get(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\");"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$threeDsSessionId = 'sid_y3oqhf46pyzuxjbcn2giaqnb44';\n\ntry {\n\n\t$details = $checkout->payments()->details($threeDsSessionId);\n\treturn $details->getSourceId();\n\n} catch(CheckoutHttpException $ex) {\n\treturn $ex->getErrors();\n}"
          }
        ]
      }
    },
    "/payments/{id}/actions": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get payment actions",
        "description": "Returns all the actions associated with a payment ordered by processing date in descending order (latest first).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment actions retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentActionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment not found"
          }
        },
        "security": [
          {
            "OAuth": [
              "gateway",
              "gateway:payment-details"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\nIEnumerable<PaymentAction> paymentActions = await api.Payments.GetActionsAsync(paymentId);"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\nList<PaymentAction> paymentActions = api.paymentsClient().getActionsAsync(paymentId).get();"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.getActions(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\");"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\nreturn $checkout->payments()->actions($paymentID);"
          }
        ]
      }
    },
    "/payments/{id}/authorizations": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Increment authorization",
        "description": "Request an incremental authorization to increase the authorization amount or extend the authorization's validity period (Mastercard only).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Authorization processed successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Capture not allowed"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found"
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "security": [
          {
            "OAuth": [
              "gateway",
              "gateway:payment-authorizations"
            ]
          }
        ]
      }
    },
    "/payments/{id}/captures": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Capture a payment",
        "description": "Captures a payment if supported by the payment method.\n\nFor card payments, capture requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the capture is successful.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptureRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Capture accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Capture not allowed"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found"
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "security": [
          {
            "OAuth": [
              "gateway",
              "gateway:payment-captures"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full capture\nawait api.Payments.CaptureAsync(paymentId);\n\n// Or partial capture\nvar captureRequest = new CaptureRequest\n{\n    Reference = \"your reference\",\n    Amount = 100\n};\n\nawait api.Payments.CaptureAsync(paymentId, captureRequest);"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full capture\napi.paymentsClient().captureAsync(paymentId).get();\n\n// Or partial capture\nCaptureRequest captureRequest = CaptureRequest.builder()\n    .reference(\"your reference\")\n    .amount(100)\n    .build();\n\napi.paymentsClient().captureAsync(paymentId, captureRequest).get();"
          },
          {
            "lang": "Node (Beta)",
            "source": "import import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst payment = await cko.payments.capture('pay_je5hbbb4u3oe7k4u3lbwlu3zkq', {\n    amount: 1000,\n    reference: 'CAPTURE ORDER 1234',\n    metadata: {\n        value: 'my value'\n    }\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\n// Full capture\n$capture = new Capture($paymentID);\n\n// Or partial capture\n$capture = new Capture($paymentID);\n$capture->reference = 'your reference';\n$capture->amount = 100;\n\nreturn $checkout->payments()->capture($capture);"
          }
        ]
      }
    },
    "/payments/{id}/refunds": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Refund a payment",
        "description": "Refunds a payment if supported by the payment method.\n\nFor card payments, refund requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the refund is successful.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Refund accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "403": {
            "description": "Refund not allowed"
          },
          "404": {
            "description": "Payment not found"
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "security": [
          {
            "OAuth": [
              "gateway",
              "gateway:payment-refunds"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full refund\nawait api.Payments.RefundAsync(paymentId);\n\n// Or partial refund\nvar refundRequest = new RefundRequest\n{\n    Reference = \"your reference\",\n    Amount = 100\n};\n\nawait api.Payments.RefundAsync(paymentId, refundRequest);"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full refund\napi.paymentsClient().refundAsync(paymentId).get();\n\n// Or partial refund\nRefundRequest refundRequest = RefundRequest.builder()\n    .reference(\"your reference\")\n    .amount(100)\n    .build();\n\napi.paymentsClient().refundAsync(paymentId, refundRequest).get();"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.refund(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\", {\n  amount: 1000,\n  reference: \"REFUND ORDER 1234\",\n  metadata: {\n    value: \"my value\"\n  }\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\n// Full refund\n$refund = new Refund($paymentID);\n\n// Or partial refund\n$refund = new Refund($paymentID);\n$refund->reference = 'your reference';\n$refund->amount = 100;\n\nreturn $checkout->payments()->refund($refund);"
          }
        ]
      }
    },
    "/payments/{id}/voids": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Void a payment",
        "description": "Voids a payment if supported by the payment method.\n\nFor card payments, void requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the void is successful.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoidRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Void accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "403": {
            "description": "Void not allowed"
          },
          "404": {
            "description": "Payment not found"
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "security": [
          {
            "OAuth": [
              "gateway",
              "gateway:payment-voids"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\nawait api.Payments.VoidAsync(paymentId);"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\napi.paymentsClient().voidAsync(paymentId).get();"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.void(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\", {\n  amount: 1000,\n  reference: \"VOID ORDER 1234\",\n  metadata: {\n    value: \"my value\"\n  }\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\nreturn $checkout->payments()->void(new Voids($paymentID));"
          }
        ]
      }
    },
    "/reporting/payments": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get JSON payments report",
        "description": "Returns a JSON report containing all payments within your specified parameters. You can reconcile the data from this report against your statements (which can be found in the <a href=\"https://hub.checkout.com/login\" target=\"_blank\">Hub</a>), the list of payments in the Hub (using the `Reference` field) or your own systems. *Note:* no payments from before 7 February 2019 at 00.00.00 UTC will appear when using the payments endpoint. To view earlier payments, please contact our support team.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Date and time from which to search for payments",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date and time until which to search for payments",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Reference of a specific payment to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Sets a limit on the number of results",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Payments report retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/payments/{paymentId}": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get JSON single payment report",
        "description": "Returns a JSON payment report containing all of the data related to a specific payment, based on the payment's identifier. *Note:* no payments from before 7 February 2019 at 00.00.00 UTC will appear when using the payments endpoint. To view earlier payments, please contact our support team.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "The unique payment identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Payment report returned successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/payments/download": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get CSV payments report",
        "description": "In addition to the JSON format returned by the `reporting/payments` endpoint, you can also download a CSV report containing the same data. Learn more about <a href=\"https://docs.checkout.com/docs/payments-endpoint#section-how-to-read-the-csv-file\" target=\"_blank\">how to read your CSV report</a>.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Date and time from which to search for payments",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date and time until which to search for payments",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": { }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/statements": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get JSON statements report",
        "description": "Returns a JSON report containing all statements within your specified parameters. Please note that the timezone for the request will be UTC.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Date and time from which to search for statements",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date and time until which to search for statements",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Statements report successfully retrieved",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/statements/{statementId}/payments/download": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get CSV single statement report",
        "description": "Downloads a CSV statement report containing all of the data related to a specific statement, based on the statement's identifier.",
        "parameters": [
          {
            "name": "StatementId",
            "in": "path",
            "description": "The unique statement identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "190110B107654"
          }
        ],
        "responses": { }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/statements/download": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get CSV statements report",
        "description": "In addition to the JSON format returned by the `reporting/statements` endpoint, you can also download a CSV report containing the same data.",
        "responses": { }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/sessions": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Request a session",
        "description": "A payment session is used to authenticate a cardholder before requesting a payment.\nPayment sessions are linked to one or more payments (in case of Merchant-initiated payments).\n\nUse `next_actions` from a successful response to identify what actions can be performed next. \n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Session accepted successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden. This can happen when the OAuth token scope is `sessions:app`, but the `channel_data` property in the request is browser related.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented"
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "security": [
          {
            "OAuth": [
              "sessions:app",
              "sessions:browser"
            ]
          }
        ]
      }
    },
    "/sessions/{id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get session details",
        "description": "Returns the details of the session with the specified identifier string.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "header",
            "description": "Optionally provide the type of channnel so you only get the relevant actions",
            "schema": {
              "enum": [
                "browser",
                "app"
              ],
              "type": "string",
              "description": "If a value is not provided, and if the `status` is `pending`, then `next_actions` will return `collect_channel_data` and if available, `issuer_fingerprint`.",
              "example": "browser"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden. This can happen when the OAuth token scope is `sessions:app`, but the session was initiated with the scope `sessions:browser`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "security": [
          {
            "OAuth": [
              "sessions:app",
              "sessions:browser"
            ]
          },
          {
            "SessionSecret": [ ]
          }
        ]
      }
    },
    "/sessions/{id}/collect-data": {
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update a session",
        "description": "Update a session by providing information about the environment it was created.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Session updated. DS has processed the authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          },
          "422": {
            "description": "Unprocessable channel information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "SessionSecret": [ ]
          }
        ]
      }
    },
    "/sessions/{id}/complete": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Complete a session",
        "description": "Completes a session by authorising the payment associated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session completed successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          }
        },
        "security": [
          {
            "SessionSecret": [ ]
          }
        ]
      }
    },
    "/sessions/{id}/issuer-fingerprint": {
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update session 3ds method completion indicator",
        "description": "Update session 3ds method completion indicator based on the result of accessing the 3ds method url.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThreeDsMethodCompletion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Session updated. DS has processed the authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseAfterChannelDataSupplied"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          },
          "422": {
            "description": "Unprocessable channel information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "SessionSecret": [ ]
          }
        ]
      }
    },
    "/tokens": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Request a token",
        "description": "Exchange a digital wallet payment token or card details for a reference token that can be used later to request a card payment. Tokens are single use and expire after 15 minutes. \nTo create a token, please authenticate using your public key. \n\n**Please note:** You should only use the `card` type for testing purposes.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reference token created successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "gateway"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\", { pk: \"pk_YYYY\" });\n\ntry {\n  const token = await cko.tokens.request({\n    // infered type: \"applepay\"\n    token_data: {\n      version: \"EC_v1\",\n      data: \"t7GeajLB9skXB6QSWfEpPA4WPhDqB7ekdd+F7588arLzve...\",\n      signature: \"MIAGCSqGbGUg...\",\n      header: {\n        ephemeralPublicKey: \"MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgA...\",\n        transactionId: \"3cee89679130a4b...\",\n      },\n    },\n  });\n} catch (err) {\n  console.log(err.name);\n}"
          }
        ]
      }
    },
    "/validation/bank-accounts/{country}/{currency}": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Get bank account fields",
        "description": "Returns the bank account fields required to create bank account instruments or perform payouts for the specified country and currency.\n",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "description": "The two-letter <a href=\"https://docs.checkout.com/docs/country-codes\" target=\"blank\">ISO country code</a>\n",
            "required": true,
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "path",
            "description": "The three-letter <a href=\"https://docs.checkout.com/docs/currency-codes\" target=\"blank\">ISO currency code</a>\n",
            "required": true,
            "schema": {
              "maxLength": 3,
              "minLength": 3,
              "type": "string"
            }
[...]
