{
  "openapi": "3.0.1",
  "info": {
    "title": "Checkout.com API Reference",
    "description": "# Introduction\nCheckout.com provides a collection of APIs that enable you to process and manage payments.  \n\nOur APIs accept and return JSON in the HTTP body and return HTTP response codes to indicate errors. You can consume the APIs directly using your favorite HTTP/REST library or make use of one of our <a href=\"https://docs.checkout.com/quickstart/integrate/sdks\" target=\"_blank\">SDKs</a>.  \n\nOur unified payments API allows you to accept payments from cards, digital wallets and the most popular alternative payment methods, as well as pay out to a variety of destinations, all using the same integration.\n\nAnd with our webhook management, events and disputes APIs, you can keep on top of your transactions and react to any chargebacks, keeping your business running smoothly.\n# Authentication\nWhen you sign up for an account, you are given a secret and public API key pair. You authenticate with our API by providing the appropriate key in the request Authorization header.\n\nNever share your secret keys. Keep them guarded and secure.\n",
    "termsOfService": "https://checkout.com/terms/",
    "contact": {
      "name": "Checkout.com Support",
      "url": "https://checkout.com",
      "email": "support@checkout.com"
    },
    "license": {
      "name": "Checkout.com",
      "url": "https://checkout.com/api/license/"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://assets.checkout.com/docs/logos/logo-checkout-api-dark.svg",
      "backgroundColor": "#E6E7EC",
      "altText": "Checkout.com API logo"
    }
  },
  "servers": [
    {
      "url": "https://api.checkout.com",
      "description": "Live API"
    },
    {
      "url": "https://api.sandbox.checkout.com",
      "description": "Sandbox API"
    }
  ],
  "paths": {
    "/disputes": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get disputes",
        "description": "Returns a list of all disputes against your business. The results will be returned in reverse chronological order, showing the last modified dispute (for example, where you've recently added a piece of evidence) first. You can use the optional parameters below to skip or limit results.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The numbers of results to return",
            "schema": {
              "maximum": 250,
              "minimum": 1,
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of results to skip",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The date and time from which to filter disputes, based on the dispute's `last_update` field",
            "schema": {
              "type": "string",
              "format": "ISO-8601"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The date and time until which to filter disputes, based on the dispute's `last_update` field",
            "schema": {
              "type": "string",
              "format": "ISO-8601"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the dispute",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "One or more comma-separated statuses. This works like a logical *OR* operator",
            "schema": {
              "type": "string",
              "example": "evidence_required,evidence_under_review"
            }
          },
          {
            "name": "payment_id",
            "in": "query",
            "description": "The unique identifier of the payment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_reference",
            "in": "query",
            "description": "An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_arn",
            "in": "query",
            "description": "The acquirer reference number (ARN) that you can use to query the issuing bank",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "this_channel_only",
            "in": "query",
            "description": "If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disputes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputePaged"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable paging",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagingError"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst disputes = await cko.disputes.get({\n  limit: 5,\n  id: \"dsp_bc94ebda8d275i461229\",\n});"
          }
        ]
      }
    },
    "/disputes/{dispute_id}": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get dispute details",
        "description": "Returns all the details of a dispute using the dispute identifier.",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst disputeDetails = await cko.disputes.getDetails(\n  \"dsp_bc94ebda8d275i461229\"\n);"
          }
        ]
      }
    },
    "/disputes/{dispute_id}/accept": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Accept dispute",
        "description": "If a dispute is legitimate, you can choose to accept it. This will close it for you and remove it from your list of open disputes. There are no further financial implications.",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dispute accepted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst accept = await cko.disputes.accept(\"dsp_bc94ebda8d275i461229\");"
          }
        ]
      }
    },
    "/disputes/{dispute_id}/evidence": {
      "put": {
        "tags": [
          "Disputes"
        ],
        "summary": "Provide dispute evidence",
        "description": "Adds supporting evidence to a dispute. Before using this endpoint, you first need to [upload your files](#tag/Disputes/paths/~1files/post) using the file uploader. You will receive a file id (prefixed by `file_`) which you can then use in your request.\nNote that this only attaches the evidence to the dispute, it does not send it to us. Once ready, you will need to submit it.\n\n**You must provide at least one evidence type in the body of your request.**\n",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvideEvidenceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Dispute evidence provided successfully"
          },
          "400": {
            "description": "Unprocessable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst evidence = await cko.disputes.provideEvidence(\n  \"dsp_bc94ebda8d275i461229\",\n  {\n    proof_of_delivery_or_service_text: \"http://checkout.com/document.pdf\",\n  }\n);"
          }
        ]
      },
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get dispute evidence",
        "description": "Retrieves a list of the evidence submitted in response to a specific dispute. \n",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute evidence retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evidence"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst getEvidence = await cko.disputes.getEvidence(\"dsp_bc94ebda8d275i461229\");"
          }
        ]
      },
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Submit dispute evidence",
        "description": "With this final request, you can submit the evidence that you have previously provided. Make sure you have provided all the relevant information before using this request. You will not be able to amend your evidence once you have submitted it.",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dispute evidence submitted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst submitEvidence = await cko.disputes.submit(\"dsp_bc94ebda8d275i461229\");"
          }
        ]
      }
    },
    "/event-types": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve event types",
        "description": "Retrieve a list of event types grouped by their respective version that you can configure on your webhooks.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "The API version for which you want to retrieve the event types. Set this to `1.0` for the legacy API or `2.0` for the Unified Payments API. If no version is specified, event types for both versions will be returned.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event types retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventTypesObject"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst events = await cko.events.retrieveEventTypes();"
          }
        ]
      }
    },
    "/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve event",
        "description": "Retrieves the event with the specified identifier string. The event `data` includes the full event details, the schema of which will vary based on the `type`.\n",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "pattern": "^(evt)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst event = await cko.events.retrieveEvent(\"evt_c2qelfixai2u3es3ksovngkx3e\");"
          }
        ]
      }
    },
    "/events/{eventId}/notifications/{notificationId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve event notification",
        "description": "Retrieves the attempts for a specific event notification",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "pattern": "^(evt)_(\\w{26})$",
              "type": "string"
            }
          },
          {
            "name": "notificationId",
            "in": "path",
            "description": "The notification identifier",
            "required": true,
            "schema": {
              "pattern": "^(ntf)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event or notification not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst notification = await cko.events.retrieveEventNotification({\n  eventId: \"evt_c2qelfixai2u3es3ksovngkx3e\",\n  notificationId: \"ntf_wqjkqpgjy33uxoywcej4fnw6qm\",\n});"
          }
        ]
      }
    },
    "/events/{eventId}/webhooks/{webhookId}/retry": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Retry webhook",
        "description": "Retries a specific webhook notification for the given event",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "pattern": "^(evt)_(\\w{26})$",
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "description": "The webhook identifier",
            "required": true,
            "schema": {
              "pattern": "^(wh)_(\\w{32})$",
              "type": "string"
            },
            "example": "wh_387ac7a83a054e37ae140105429d76b5"
          }
        ],
        "responses": {
          "202": {
            "description": "Retry accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event or webhook not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst retry = await cko.events.retry({\n  eventId: \"evt_c2qelfixai2u3es3ksovngkx3e\",\n  webhookId: \"wh_mpkyioafmajulnhjvwmrklenb4\",\n});"
          }
        ]
      }
    },
    "/events/{eventId}/webhooks/retry": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Retry all webhooks",
        "description": "Retries all webhook notifications configured for the specified event",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "pattern": "^(evt)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Retry accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event or webhook not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst retryAll = await cko.events.retryAll(\"evt_c2qelfixai2u3es3ksovngkx3e\");"
          }
        ]
      }
    },
    "/files": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Upload file",
        "description": "Upload a file to use as evidence in a dispute. Your file must be in either JPEG/JPG, PNG or PDF format, and be no larger than 4MB.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst file = await cko.files.upload({\n  path: fs.createReadStream(\"./test/files/evidence.jpg\"),\n  purpose: \"dispute_evidence\",\n});"
          }
        ]
      }
    },
    "/files/{file_id}": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get file information",
        "description": "Retrieve information about a file that was previously uploaded.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The file identifier. It is always prefixed by `file_`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File information retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File not found"
          },
          "429": {
            "description": "Too many requests or duplicate request detected"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst getFile = await cko.files.getFile(\"file_zna32sccqbwevd3ldmejtplbhu\");"
          }
        ]
      }
    },
    "/instruments": {
      "post": {
        "tags": [
          "Instruments"
        ],
        "summary": "Create an instrument",
        "description": "Exchange a single use Checkout.com token for a payment instrument reference, that can be used at any time to request one or more payments.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstrumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Instrument created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\ntry {\n  const instrument = await cko.instruments.create({\n    // infered type \"token\",\n    token: \"tok_bzi43qc6jeee5mmnfo4gnsnera\", // Generated by Checkout.Frames\n  });\n} catch (err) {\n  console.log(err.name);\n}"
          }
        ]
      }
    },
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Request a payment or payout",
        "description": "To accept payments from <a href=\"https://docs.checkout.com/payment-methods/cards\" target=\"blank\">cards</a>, <a href=\"https://docs.checkout.com/payment-methods/wallets\" target=\"blank\">digital wallets</a> and many <a href=\"https://docs.checkout.com/payment-methods/\" target=\"blank\">alternative payment methods</a>, specify the `source.type` field, along with the source-specific data.\n\nTo <a href=\"https://docs.checkout.com/payment-actions/pay-out-to-a-card\" target=\"blank\">pay out to a card</a>, specify the destination of your payout using the `destination.type` field, along with the destination-specific data.\n\nTo verify the success of the payment, check the `approved` field in the response.\n",
        "parameters": [
          {
            "name": "Cko-Idempotency-Key",
            "in": "header",
            "description": "An optional idempotency key for safely retrying payment requests",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PaymentRequest"
                  },
                  {
                    "$ref": "#/components/schemas/Payout"
                  }
                ]
              },
              "example": {
                "source": {
                  "type": "token",
                  "token": "tok_4gzeau5o2uqubbk6fufs3m7p54"
                },
                "amount": 6540,
                "currency": "USD",
                "payment_type": "Recurring",
                "reference": "ORD-5023-4E89",
                "description": "Set of 3 masks",
                "capture": true,
                "capture_on": "2019-09-10T10:11:12.0000000+00:00",
                "customer": {
                  "id": "cus_udst2tfldj6upmye2reztkmm4i",
                  "email": "jokershere@gmail.com",
                  "name": "Jack Napier"
                },
                "billing_descriptor": {
                  "name": "SUPERHEROES.COM",
                  "city": "GOTHAM"
                },
                "shipping": {
                  "address": {
                    "address_line1": "Checkout.com",
                    "address_line2": "90 Tottenham Court Road",
                    "city": "London",
                    "state": "London",
                    "zip": "W1T 4TJ",
                    "country": "GB"
                  },
                  "phone": {
                    "country_code": 1,
                    "number": "415 555 2671"
                  }
                },
                "3ds": {
                  "enabled": true,
                  "attempt_n3d": true,
                  "eci": 5,
                  "cryptogram": "AgAAAAAAAIR8CQrXcIhbQAAAAAA=",
                  "xid": "MDAwMDAwMDAwMDAwMDAwMzIyNzY=",
                  "version": "2.0.1"
                },
                "previous_payment_id": "pay_fun26akvvjjerahhctaq2uzhu4",
                "risk": {
                  "enabled": false
                },
                "success_url": "http://example.com/payments/success",
                "failure_url": "http://example.com/payments/fail",
                "payment_ip": "90.197.169.245",
                "recipient": {
                  "dob": "1985-05-15T00:00:00.0000000+00:00",
                  "account_number": 5555554444,
                  "zip": "W1T",
                  "last_name": "Jones"
                },
                "metadata": {
                  "coupon_code": "NY2018",
                  "partner_id": 123989
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment processed successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                },
                "example": {
                  "id": "pay_mbabizu24mvu3mela5njyhpit4",
                  "action_id": "act_mbabizu24mvu3mela5njyhpit4",
                  "amount": 6540,
                  "currency": "USD",
                  "approved": true,
                  "status": "Authorized",
                  "auth_code": 770687,
                  "response_code": 10000,
                  "response_summary": "Approved",
                  "3ds": {
                    "downgraded": true,
                    "enrolled": "N"
                  },
                  "risk": {
                    "flagged": true
                  },
                  "source": {
                    "type": "card",
                    "id": "src_nwd3m4in3hkuddfpjsaevunhdy",
                    "billing_address": {
                      "address_line1": "Checkout.com",
                      "address_line2": "90 Tottenham Court Road",
                      "city": "London",
                      "state": "London",
                      "zip": "W1T 4TJ",
                      "country": "GB"
                    },
                    "phone": {
                      "country_code": 1,
                      "number": "415 555 2671"
                    },
                    "last4": 4242,
                    "fingerprint": "F31828E2BDABAE63EB694903825CDD36041CC6ED461440B81415895855502832",
                    "bin": 424242
                  },
                  "customer": {
                    "id": "cus_udst2tfldj6upmye2reztkmm4i",
                    "email": "jokershere@gmail.com",
                    "name": "Jack Napier"
                  },
                  "processed_on": "2019-09-10T10:11:12.0000000+00:00",
                  "reference": "ORD-5023-4E89",
                  "processing": {
                    "retrieval_reference_number": 909913440644,
                    "acquirer_transaction_id": 4.406443090994999E+20
                  },
                  "eci": 6,
                  "scheme_id": 489341065491658,
                  "links": {
                    "self": {
                      "href": "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4"
                    },
                    "action": {
                      "href": "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4/actions"
                    },
                    "void": {
                      "href": "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4/captures"
                    },
                    "capture": {
                      "href": "https://api.sandbox.checkout.com/payments/pay_mbabizu24mvu3mela5njyhpit4/voids"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Payment asynchronous or further action required",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests or duplicate request detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar tokenSource = new TokenSource(\"tok_ubfj2q76miwundwlk72vxt2i7q\");\nvar paymentRequest = new PaymentRequest<TokenSource>(tokenSource, Currency.USD, 5600)\n{\n    Reference = \"ORD-090857\",\n    Capture = false,\n    ThreeDs = true\n};\n\ntry\n{\n    var response = await api.Payments.RequestAsync(paymentRequest);\n\n    if (response.IsPending && response.Pending.RequiresRedirect())\n    {\n        return Redirect(response.Pending.GetRedirectLink().Href);\n    }\n\n    if (response.Payment.Approved)\n        return PaymentSucessful(response.Payment);\n\n    return PaymentDeclined(response.Payment);\n}\ncatch (CheckoutValidationException validationEx)\n{\n    return ValidationError(validationEx.Error);\n}\ncatch (CheckoutApiException apiEx)\n{\n    Log.Error(\"Payment request failed with status code {HttpStatusCode}\", apiEx.HttpStatusCode);\n    throw;\n}"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nTokenSource tokenSource = new TokenSource(\"tok_ubfj2q76miwundwlk72vxt2i7q\");\nPaymentRequest<TokenSource> paymentRequest = PaymentRequest.fromSource(tokenSource, Currency.USD, 5600);\npaymentRequest.setReference(\"ORD-090857\");\npaymentRequest.setCapture(false);\npaymentRequest.setThreeDS(ThreeDSRequest.from(true));\n\ntry {\n    PaymentResponse response = api.paymentsClient().requestAsync(paymentRequest).get();\n\n    if (response.isPending() && response.getPending().requiresRedirect()) {\n        return redirect(response.getPending().getRedirectLink().getHref());\n    }\n\n    if (response.getPayment().isApproved())\n        return paymentSucessful(response.getPayment());\n\n    return paymentDeclined(response.getPayment());\n} catch (CheckoutValidationException e) {\n    return validationError(e.getError());\n} catch (CheckoutApiException e) {\n    LOG.severe(\"Payment request failed with status code \" + e.getHttpStatusCode());\n    throw e;\n}"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n    const payment = await cko.payments.request({\n        source: {\n            // infered type: \"token\"\n            token: 'tok_bzi43qc6jeee5mmnfo4gnsnera' // Generated by Checkout.Frames\n            billing_address: {\n                address_line1: 'Wall Street',\n                address_line2: 'Dollar Avenue',\n                city: 'London',\n                state: 'London',\n                zip: 'W1W W1W',\n                country: 'GB'\n            },\n            phone: {\n                country_code: '44',\n                number: '7123456789'\n            }\n        },\n        currency: 'USD',\n        amount: 1000,\n        payment_type: 'Regular',\n        reference: 'ORDER 1234',\n        description: 'Mint Tea',\n        customer: {\n            email: 'new_user@email.com',\n            name: 'John Smith'\n        },\n        metadata: {\n            myCustomProp: {\n                value: 1\n            }\n        }\n    });\n\n} catch (err) {\n    console.log(err.name)\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n\n$method = new TokenSource('tok_ubfj2q76miwundwlk72vxt2i7q');\n$payment = new Payment($method, 'USD');\n\n$payment->amount = 5600;\n$payment->capture = false;\n$payment->reference = 'ORD-090857';\n$payment->threeDs = new ThreeDs(true);\n\ntry {\n    $details = $checkout->payments()->request($payment);\n\n    $redirection = $details->getRedirection();\n    if ($redirection) {\n        return $redirection;\n    }\n\n    return $details;\n\n} catch (CheckoutModelException $ex) {\n    return $ex->getErrors();\n} catch (CheckoutHttpException $ex) {\n    return $ex->getErrors();\n}"
          },
          {
            "lang": "Python",
            "source": "import checkout_sdk as sdk\n\napi = sdk.get_api(secret_key='<your secret key>')\n\ntry:\n    payment = api.payments.request(\n        source={\n            'token': 'tok_...',\n        },\n        amount=100,\n        currency=sdk.Currency.USD,\n        reference='pay_ref'\n    )\n    print(payment.id)\nexcept sdk.errors.CheckoutSdkError as e:\n    print('{0.http_status} {0.error_type} {0.elapsed} {0.request_id}'.format(e))"
          }
        ]
      }
    },
    "/payments/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get payment details",
        "description": "Returns the details of the payment with the specified identifier string.\n\nIf the payment method requires a redirection to a third party (e.g., 3D Secure),\nthe redirect URL back to your site will include a `cko-session-id` query parameter\ncontaining a payment session ID that can be used to obtain the details of the payment, for example:\n\nhttp://example.com/success?cko-session-id=sid_ubfj2q76miwundwlk72vxt2i7q.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment or payment session identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay|sid)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar sessionId = \"sid_y3oqhf46pyzuxjbcn2giaqnb44\";\nGetPaymentResponse payment = await api.Payments.GetAsync(sessionId);\n\nif (payment.Approved)\n{            \n    var cardSourceId = payment.Source.AsCard().Id;\n}"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString sessionId = \"sid_y3oqhf46pyzuxjbcn2giaqnb44\";\nGetPaymentResponse payment = api.paymentsClient().getAsync(sessionId).get();\n\nif (payment.isApproved()) {\n    String cardSourceId = ((CardSourceResponse)payment.getSource()).getId();\n}"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.get(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\");"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$threeDsSessionId = 'sid_y3oqhf46pyzuxjbcn2giaqnb44';\n\ntry {\n\n\t$details = $checkout->payments()->details($threeDsSessionId);\n\treturn $details->getSourceId();\n\n} catch(CheckoutHttpException $ex) {\n\treturn $ex->getErrors();\n}"
          },
          {
            "lang": "Python",
            "source": "import checkout_sdk as sdk\n\napi = sdk.get_api(secret_key='<your secret key>')\n\ntry:\n    payment = api.payments.get('pay_...')\n    print(payment.id)\nexcept sdk.errors.CheckoutSdkError as e:\n    print('{0.http_status} {0.error_type} {0.elapsed} {0.request_id}'.format(e))"
          }
        ]
      }
    },
    "/payments/{id}/actions": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get payment actions",
        "description": "Returns all the actions associated with a payment ordered by processing date in descending order (latest first).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment actions retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentActionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\nIEnumerable<PaymentAction> paymentActions = await api.Payments.GetActionsAsync(paymentId);"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\nList<PaymentAction> paymentActions = api.paymentsClient().getActionsAsync(paymentId).get();"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.getActions(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\");"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\nreturn $checkout->payments()->actions($paymentID);"
          },
          {
            "lang": "Python",
            "source": "import checkout_sdk as sdk\n\napi = sdk.get_api(secret_key='<your secret key>')\n\ntry:\n    actions = api.payments.get_actions('pay_...')\n    for action in actions:\n        print(action.id)\n        print(action.type)\n        print(action.response_code)\n        print(action.reference)\nexcept sdk.errors.CheckoutSdkError as e:\n    print('{0.http_status} {0.error_type} {0.elapsed} {0.request_id}'.format(e))"
          }
        ]
      }
    },
    "/payments/{id}/captures": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Capture a payment",
        "description": "Captures a payment if supported by the payment method.\n\nFor card payments, capture requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the capture is successful.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptureRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Capture accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Capture not allowed"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found"
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full capture\nawait api.Payments.CaptureAsync(paymentId);\n\n// Or partial capture\nvar captureRequest = new CaptureRequest\n{\n    Reference = \"your reference\",\n    Amount = 100\n};\n\nawait api.Payments.CaptureAsync(paymentId, captureRequest);"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full capture\napi.paymentsClient().captureAsync(paymentId).get();\n\n// Or partial capture\nCaptureRequest captureRequest = CaptureRequest.builder()\n    .reference(\"your reference\")\n    .amount(100)\n    .build();\n\napi.paymentsClient().captureAsync(paymentId, captureRequest).get();"
          },
          {
            "lang": "Node (Beta)",
            "source": "import import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst payment = await cko.payments.capture('pay_je5hbbb4u3oe7k4u3lbwlu3zkq', {\n    amount: 1000,\n    reference: 'CAPTURE ORDER 1234',\n    metadata: {\n        value: 'my value'\n    }\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\n// Full capture\n$capture = new Capture($paymentID);\n\n// Or partial capture\n$capture = new Capture($paymentID);\n$capture->reference = 'your reference';\n$capture->amount = 100;\n\nreturn $checkout->payments()->capture($capture);"
          },
          {
            "lang": "Python",
            "source": "import checkout_sdk as sdk\n\napi = sdk.get_api(secret_key='<your secret key>')\n\ntry:\n    action = api.payments.capture('pay_...', amount=100, reference='CAPTURE')\n\n    print(action.id)\n    print(action.get_link('payment').href)\nexcept sdk.errors.CheckoutSdkError as e:\n    print('{0.http_status} {0.error_type} {0.elapsed} {0.request_id}'.format(e))"
          }
        ]
      }
    },
    "/payments/{id}/refunds": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Refund a payment",
        "description": "Refunds a payment if supported by the payment method.\n\nFor card payments, refund requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the refund is successful.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Refund accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "403": {
            "description": "Refund not allowed"
          },
          "404": {
            "description": "Payment not found"
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full refund\nawait api.Payments.RefundAsync(paymentId);\n\n// Or partial refund\nvar refundRequest = new RefundRequest\n{\n    Reference = \"your reference\",\n    Amount = 100\n};\n\nawait api.Payments.RefundAsync(paymentId, refundRequest);"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\n// Full refund\napi.paymentsClient().refundAsync(paymentId).get();\n\n// Or partial refund\nRefundRequest refundRequest = RefundRequest.builder()\n    .reference(\"your reference\")\n    .amount(100)\n    .build();\n\napi.paymentsClient().refundAsync(paymentId, refundRequest).get();"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.refund(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\", {\n  amount: 1000,\n  reference: \"REFUND ORDER 1234\",\n  metadata: {\n    value: \"my value\"\n  }\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\n// Full refund\n$refund = new Refund($paymentID);\n\n// Or partial refund\n$refund = new Refund($paymentID);\n$refund->reference = 'your reference';\n$refund->amount = 100;\n\nreturn $checkout->payments()->refund($refund);"
          },
          {
            "lang": "Python",
            "source": "import checkout_sdk as sdk\n\napi = sdk.get_api(secret_key='<your secret key>')\n\ntry:\n    action = api.payments.refund('pay_...', amount=100, reference='REFUND')\n\n    print(action.id)\n    print(action.get_link('payment').href)\nexcept sdk.errors.CheckoutSdkError as e:\n    print('{0.http_status} {0.error_type} {0.elapsed} {0.request_id}'.format(e))"
          }
        ]
      }
    },
    "/payments/{id}/voids": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Void a payment",
        "description": "Voids a payment if supported by the payment method.\n\nFor card payments, void requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the void is successful.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier",
            "required": true,
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoidRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Void accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "403": {
            "description": "Void not allowed"
          },
          "404": {
            "description": "Payment not found"
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "var api = CheckoutApi.Create(\"your secret key\");\nvar paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\nawait api.Payments.VoidAsync(paymentId);"
          },
          {
            "lang": "Java",
            "source": "CheckoutApi api = CheckoutApiImpl.create(\"your secret key\", false, \"your public key\");\nString paymentId = \"pay_y3oqhf46pyzuxjbcn2giaqnb44\";\n\napi.paymentsClient().voidAsync(paymentId).get();"
          },
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst payment = await cko.payments.void(\"pay_je5hbbb4u3oe7k4u3lbwlu3zkq\", {\n  amount: 1000,\n  reference: \"VOID ORDER 1234\",\n  metadata: {\n    value: \"my value\"\n  }\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$checkout = new CheckoutApi('your secret key');\n$paymentID = 'pay_y3oqhf46pyzuxjbcn2giaqnb44';\n\nreturn $checkout->payments()->void(new Voids($paymentID));"
          },
          {
            "lang": "Python",
            "source": "import checkout_sdk as sdk\n\napi = sdk.get_api(secret_key='<your secret key>')\n\ntry:\n    action = api.payments.void('pay_...', reference='VOID')\n\n    print(action.id)\n    print(action.get_link('payment').href)\nexcept sdk.errors.CheckoutSdkError as e:\n    print('{0.http_status} {0.error_type} {0.elapsed} {0.request_id}'.format(e))"
          }
        ]
      }
    },
    "/reporting/payments": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get JSON payments report",
        "description": "Returns a JSON report containing all payments within your specified parameters. You can reconcile the data from this report against your statements (which can be found in the <a href=\"https://hub.checkout.com/login\" target=\"_blank\">Hub</a>), the list of payments in the Hub (using the `Reference` field) or your own systems. *Note:* no payments from before 7 February 2019 at 00.00.00 UTC will appear when using the payments endpoint. To view earlier payments, please contact our support team.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Date and time from which to search for payments",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date and time until which to search for payments",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Reference of a specific payment to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Sets a limit on the number of results",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Payments report retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/payments/{paymentId}": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get JSON single payment report",
        "description": "Returns a JSON payment report containing all of the data related to a specific payment, based on the payment's identifier. *Note:* no payments from before 7 February 2019 at 00.00.00 UTC will appear when using the payments endpoint. To view earlier payments, please contact our support team.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "The unique payment identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Payment report returned successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/payments/download": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get CSV payments report",
        "description": "In addition to the JSON format returned by the `reporting/payments` endpoint, you can also download a CSV report containing the same data. Learn more about <a href=\"https://docs.checkout.com/reporting-and-insights/reconciliation-api/payments-endpoint#Paymentsendpoint-HowtoreadtheCSVfile\" target=\"_blank\">how to read your CSV report</a>.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Date and time from which to search for payments",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date and time until which to search for payments",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": { }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/statements": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get JSON statements report",
        "description": "Returns a JSON report containing all statements within your specified parameters. Please note that the timezone for the request will be UTC.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Date and time from which to search for statements",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date and time until which to search for statements",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Statements report successfully retrieved",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/statements/{statementId}/payments/download": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get CSV single statement report",
        "description": "Downloads a CSV statement report containing all of the data related to a specific statement, based on the statement's identifier.",
        "parameters": [
          {
            "name": "StatementId",
            "in": "path",
            "description": "The unique statement identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "190110B107654"
          }
        ],
        "responses": { }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/reporting/statements/download": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Get CSV statements report",
        "description": "In addition to the JSON format returned by the `reporting/statements` endpoint, you can also download a CSV report containing the same data.",
        "responses": { }
      },
      "servers": [
        {
          "url": "https://api.checkout.com",
          "description": "Live API"
        }
      ]
    },
    "/sources": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Add a payment source",
        "description": "Add a reusable payment source, like a <a href=\"https://docs.checkout.com/payment-methods/direct-debit/sepa-direct-debit\" target=\"blank\">SEPA Direct Debit</a>, that you can later use to make one or more payments.\nPayment sources are linked to a specific customer and cannot be shared between customers.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment source added successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSourceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n    const payment = await cko.sources.add({\n        // infered type: \"sepa\"\n        source: {\n            token: 'tok_bzi43qc6jeee5mmnfo4gnsnera' // Generated by Checkout.Frames\n            billing_address: {\n                address_line1: 'Wall Street',\n                address_line2: 'Dollar Avenue',\n                city: 'London',\n                state: 'London',\n                zip: 'W1W W1W',\n                country: 'GB'\n            },\n            phone: {\n                country_code: '44',\n                number: '7123456789'\n            }\n        },\n        currency: 'USD',\n        amount: 1000,\n        payment_type: 'Regular',\n        reference: 'ORDER 1234',\n        description: 'Mint Tea',\n        customer: {\n            email: 'new_user@email.com',\n            name: 'John Smith'\n        },\n        metadata: {\n            myCustomProp: {\n                value: 1\n            }\n        }\n    });\n\n} catch (err) {\n    console.log(err.name)\n}"
          }
        ]
      }
    },
    "/tokens": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Request a token",
        "description": "Exchange a digital wallet payment token or card details for a reference token that can be used later to request a card payment. Tokens are single use and expire after 15 minutes. \nTo create a token, please authenticate using your public key. \n\n**Please note:** You should only use the `card` type for testing purposes.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reference token created successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\", { pk: \"pk_YYYY\" });\n\ntry {\n  const token = await cko.tokens.request({\n    // infered type: \"applepay\"\n    token_data: {\n      version: \"EC_v1\",\n      data: \"t7GeajLB9skXB6QSWfEpPA4WPhDqB7ekdd+F7588arLzve...\",\n      signature: \"MIAGCSqGbGUg...\",\n      header: {\n        ephemeralPublicKey: \"MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgA...\",\n        transactionId: \"3cee89679130a4b...\",\n      },\n    },\n  });\n} catch (err) {\n  console.log(err.name);\n}"
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve webhooks",
        "description": "Retrieves the webhooks configured for the channel identified by your API key\n",
        "responses": {
          "200": {
            "description": "Configured webhooks",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No webhooks configured"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhooks = await cko.webhooks.retrieveWebhooks();"
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Register webhook",
        "description": "Register a new webhook endpoint that Checkout.com will post all or selected events to\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "409": {
            "description": "URL already registered for another webhook"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.registerWebhook({\n  url: \"https://example.com/webhook\",\n  active: true,\n  headers: {\n    authorization: \"1234\",\n  },\n  content_type: \"json\",\n  event_types: [\"payment_approved\", \"payment_captured\"],\n});"
          }
        ]
      }
    },
    "/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve webhook",
        "description": "Retrieves the webhook with the specified identifier string\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The webhook identifier\n",
            "required": true,
            "schema": {
              "pattern": "^(wh)_(\\w{32})$",
              "type": "string"
            },
            "example": "wh_387ac7a83a054e37ae140105429d76b5"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "url"
                  ],
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.retrieveWebhook(\n  \"wh_tdt72zlbe7cudogxdgit6nwk6i\"\n);"
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Updates an existing webhook\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The webhook identifier\n",
            "required": true,
            "schema": {
              "pattern": "^(wh)_(\\w{32})$",
              "type": "string"
            },
            "example": "wh_387ac7a83a054e37ae140105429d76b5"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found"
          },
          "409": {
            "description": "URL already registered for another webhook"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.updateWebhook(\n  \"wh_ahun3lg7bf4e3lohbhni65335u\",\n  {\n    url: \"https://example.com/webhooks/updated\",\n    active: true,\n    headers: {\n      authorization: \"1234\",\n    },\n    content_type: \"json\",\n    event_types: [\"payment_approved\", \"payment_captured\"],\n  }\n);"
          }
        ]
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Partially update webhook",
        "description": "Updates all or some of the registered webhook details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The webhook identifier\n",
            "required": true,
            "schema": {
              "pattern": "^(wh)_(\\w{32})$",
              "type": "string"
            },
            "example": "wh_387ac7a83a054e37ae140105429d76b5"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated webhook",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found"
          },
          "409": {
            "description": "URL already exists in another webhook configuration"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.partiallyUpdateWebhook(\n  \"wh_ahun3lg7bf4e3lohbhni65335u\",\n  {\n    url: \"https://example.com/webhooks/updated\",\n  }\n);"
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Remove webhook",
        "description": "Removes an existing webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The webhook identifier\n",
            "required": true,
            "schema": {
              "pattern": "^(wh)_(\\w{32})$",
              "type": "string"
            },
            "example": "wh_387ac7a83a054e37ae140105429d76b5"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook removed successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "x-code-samples": [
          {
            "lang": "Node (Beta)",
            "source": "import { Checkout } from \"checkout-node-sdk\";\n\nconst cko = new Checkout(\"sk_XXXX\");\n\nconst webhook = await cko.webhooks.removeWebhook(\n  \"wh_ahun3lg7bf4e3lohbhni65335u\"\n);"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "01_SepaAddress": {
        "required": [
          "address_line1",
          "city",
          "zip",
          "country"
        ],
        "type": "object",
        "properties": {
          "address_line1": {
            "type": "string",
            "description": "The first line of the address",
            "example": "Brandenburger Tor"
          },
          "address_line2": {
            "type": "string",
            "description": "The second line of the address",
            "example": "Pariser Platz"
          },
          "city": {
            "type": "string",
            "description": "The address city",
            "example": "Berlin"
          },
          "state": {
            "type": "string",
            "description": "The address state",
            "example": "Berlin"
          },
          "zip": {
            "type": "string",
            "description": "The address zip/postal code",
            "example": "10117"
          },
          "country": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "The two-letter <a href=\"https://docs.checkout.com/docs/country-codes\" target=\"blank\">ISO country code</a> of the address",
            "example": "DE"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address_line1": {
            "type": "string",
            "description": "The first line of the address",
            "example": "Checkout.com"
          },
          "address_line2": {
            "type": "string",
            "description": "The second line of the address",
            "example": "90 Tottenham Court Road"
          },
          "city": {
            "type": "string",
            "description": "The address city",
            "example": "London"
          },
          "state": {
            "type": "string",
            "description": "The address state",
            "example": "London"
          },
          "zip": {
            "type": "string",
            "description": "The address zip/postal code",
            "example": "W1T 4TJ"
          },
          "country": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "The two-letter <a href=\"https://docs.checkout.com/resources/codes/country-codes\" target=\"blank\">ISO country code</a> of the address",
            "example": "GB"
          }
        }
      },
      "Batch": {
        "required": [
          "id",
          "status",
          "_links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^bat_(\\w{26})$",
            "type": "string",
            "description": "Batch identifier",
            "example": "bat_cyukd74c4xoezfuarvuwdcpzou"
          },
          "status": {
            "type": "string",
            "description": "The status of the batch",
            "example": "Processing"
          },
          "_links": {
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "description": "The URI of the batch",
                "example": {
                  "href": "https://api.checkout.com/batches/bat_fa72f568492b4d3eb6d81e0645e320f6"
                }
              }
            }
          }
        }
      },
      "SubmitBatchRequest": {
        "required": [
          "file_id",
          "action"
        ],
        "type": "object",
        "properties": {
          "file_id": {
            "pattern": "^file_(\\w{26})$",
            "type": "string",
            "description": "The identifier of the batch file previously uploaded via the [Files API](#tag/Files)",
            "example": "file_6lbss42ezvoufcb2beo76rvwly"
          },
          "action": {
            "enum": [
              "payment"
            ],
            "type": "string",
            "description": "The action to be performed against the batch",
            "example": "payment"
          },
          "reference": {
            "type": "string",
            "description": "Your reference for the batch. If provided, this will be validated against the batch file's header",
            "example": "payments-20180701"
          }
        },
        "description": "The batch request"
      },
      "SubmitBatchResponse": {
        "required": [
          "id",
          "status",
          "_links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^bat_(\\w{26})$",
            "type": "string",
            "description": "Batch identifier",
            "example": "bat_cyukd74c4xoezfuarvuwdcpzou"
          },
          "status": {
            "type": "string",
            "description": "The batch status",
            "example": "Processing"
          },
          "_links": {
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "description": "The URI of the batch",
                "example": {
                  "href": "https://api.checkout.com/batches/bat_fa72f568492b4d3eb6d81e0645e320f6"
                }
              }
            }
          }
        }
      },
      "Dispute": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^(dsp)_(\\w{22})$",
            "type": "string",
            "description": "The dispute identifier. This is the same as the payment action ID",
            "example": "dsp_rbhwd2qrg13uhrp2newf"
          },
          "category": {
            "enum": [
              "fraudulent",
              "unrecognized",
              "canceled_recurring",
              "product_service_not_received",
              "not_as_described",
              "credit_not_issued",
              "duplicate",
              "incorrect_amount",
              "general"
            ],
            "type": "string",
            "description": "The reason for the dispute. [Find out more](https://docs.checkout.com/risk-management/disputes#Disputes-Disputereasonsandrecommendedevidence)",
            "example": "fraudulent"
          },
          "amount": {
            "type": "number",
            "description": "The amount that is being disputed, in the processing currency",
            "example": 999
          },
          "currency": {
            "type": "string",
            "description": "The processing currency",
            "example": "GBP"
          },
          "reason_code": {
            "type": "string",
            "description": "The reason code provided by the card scheme",
            "example": "C42"
          },
          "status": {
            "enum": [
              "evidence_required",
              "evidence_under_review",
              "resolved",
              "won",
              "lost",
              "canceled",
              "expired",
              "accepted"
            ],
            "type": "string",
            "description": "The current status of the dispute",
            "example": "evidence_required"
          },
          "relevant_evidence": {
            "type": "array",
            "items": {
              "enum": [
                "proof_of_delivery_or_service",
                "invoice_or_receipt",
                "invoice_showing_distinct_transactions",
                "customer_communication",
                "refund_or_cancellation_policy",
                "proof_of_delivery_or_service_date",
                "recurring_transaction_agreement",
                "additional_evidence"
              ],
              "type": "strings",
              "example": "proof_of_delivery_or_service"
            }
          },
          "evidence_required_by": {
            "type": "string",
            "description": "The deadline by which to respond to the dispute. This corresponds to `received_on` + `n`, where `n` is a number of calendar days set by the scheme/acquirer",
            "format": "ISO-8601",
            "example": "2018-08-21T00:00:00Z"
          },
          "received_on": {
            "type": "string",
            "description": "The date and time at which the dispute was issued",
            "format": "ISO-8601",
            "example": "2018-08-01T04:00:10Z"
          },
          "last_update": {
            "type": "string",
            "description": "The date and time at which the dispute was last updated",
            "format": "ISO-8601",
            "example": "2018-08-04T10:53:13Z"
          },
          "payment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The payment identifier",
                "example": "pay_88cb4e671m1da22e9bbbyx"
              },
              "amount": {
                "type": "number",
                "description": "The amount that is being disputed, in the processing currency",
                "example": 999
              },
              "currency": {
                "type": "string",
                "description": "The payment currency",
                "example": "GBP"
              },
              "method": {
                "type": "string",
                "description": "The payment method used",
                "example": "Visa"
              },
              "arn": {
                "type": "string",
                "description": "The acquirer reference number (ARN)",
                "example": "AA246873253573571073808"
              },
              "processed_on": {
                "type": "string",
                "description": "The date and time at which the payment was requested",
                "format": "ISO-8601",
                "example": "2018-08-01T08:18:10Z"
              }
            }
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "properties": {
                  "href": {
                    "example": "https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf"
                  }
                },
                "description": "The dispute retrieval endpoint"
              },
              "evidence": {
                "properties": {
                  "href": {
                    "example": "https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf/evidence"
                  }
                },
                "description": "The dispute evidence retrieval endopint"
              }
            }
          }
        }
      },
      "DisputePaged": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "description": "The numbers of items to return",
            "example": 10
          },
          "skip": {
            "type": "integer",
            "description": "The number of results to skip",
            "example": 10
          },
          "from": {
            "type": "string",
            "description": "The date and time from which to filter disputes, based on the dispute's `last_update` field",
            "format": "ISO-8601",
            "example": "2018-08-12T01:15:56Z"
          },
          "to": {
            "type": "string",
            "description": "The date and time until which to filter disputes, based on the dispute's `last_update` field",
            "format": "ISO-8601",
            "example": "2018-08-13T11:09:01Z"
          },
          "statuses": {
            "type": "string",
            "description": "One or more comma-separated statuses. This works like a logical *OR* operator",
            "example": "evidence_required,evidence_under_review"
          },
          "id": {
            "pattern": "^(dsp)_(\\w{22})$",
            "type": "string",
            "description": "The unique identifier of the dispute",
            "example": "dsp_rbhwd2qrg13uhrp2newf"
          },
          "payment_id": {
            "pattern": "^(pay)_(\\w{26})$",
            "type": "string",
            "description": "The unique identifier of the payment",
            "example": "pay_88cb4e671m1da22e9bbbyx"
          },
          "payment_reference": {
            "type": "string",
            "description": "An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`",
            "example": "th7zxa1kcnqmes8"
          },
          "payment_arn": {
            "type": "string",
            "description": "The acquirer reference number (ARN) that you can use to query the issuing bank",
            "example": "74548998294293193445538"
          },
          "this_channel_only": {
            "type": "boolean",
            "description": "If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business",
            "example": true
          },
          "total_count": {
            "type": "integer",
            "description": "The total number of disputes retrieved (without taking into consideration skip and limit parameters)",
            "example": 1
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DisputeSummary"
            },
            "description": "The list of disputes"
          }
        }
      },
      "DisputeSummary": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^(dsp)_(\\w{22})$",
            "type": "string",
            "description": "The dispute identifier. This is the same as the action ID in the reconciliation API or the charge ID in the Hub.",
            "example": "dsp_rbhwd2qrg13uhrp2newf"
          },
          "category": {
            "enum": [
              "fraudulent",
              "unrecognized",
              "canceled_recurring",
              "product_service_not_received",
              "not_as_described",
              "credit_not_issued",
              "duplicate",
              "incorrect_amount",
              "general"
            ],
            "type": "string",
            "description": "The reason for the dispute. [Find out more](https://docs.checkout.com/docs/disputes#section-dispute-reasons-and-recommended-evidence)",
            "example": "fraudulent"
          },
          "status": {
            "enum": [
              "received",
              "evidence_required",
              "evidence_under_review",
              "resolved",
              "closed",
              "won",
              "lost",
              "canceled",
              "accepted"
            ],
            "type": "string",
            "description": "The current status of the dispute",
            "example": "evidence_required"
          },
          "amount": {
            "type": "number",
            "description": "The amount that is being disputed, in the processing currency",
            "example": 999
          },
          "currency": {
            "type": "string",
            "description": "The currency the payment was made in",
            "example": "GBP"
          },
          "payment_id": {
            "type": "string",
            "description": "The unique payment identifier",
            "example": "pay_88cb4e671m1da22e9bbbyx"
          },
          "payment_reference": {
            "type": "string",
            "description": "An optional reference (such as an order ID) a merchant can use to later identify the charge. Previously known as TrackId",
[...]
