{
  "openapi": "3.0.1",
  "info": {
    "title": "Checkout.com API Reference",
    "description": "# Introduction\nCheckout.com provides a collection of APIs that enable you to process and manage payments.  \n\nOur APIs accept and return JSON in the HTTP body and return HTTP response codes to indicate errors. You can consume the APIs directly using your favorite HTTP/REST library or make use of one of our <a href=\"https://docs.checkout.com/quickstart/integrate/sdks\" target=\"_blank\">SDKs</a>.  \n\nOur unified payments API allows you to accept payments from cards, digital wallets and the most popular alternative payment methods, as well as pay out to a variety of destinations, all using the same integration.\n\nAnd with our webhook management, events and disputes APIs, you can keep on top of your transactions and react to any chargebacks, keeping your business running smoothly.\n# Authentication\nWhen you sign up for an account, you are given a secret and public API key pair. You authenticate with our API by providing the appropriate key in the request Authorization header.\n\nNever share your secret keys. Keep them guarded and secure.\n",
    "termsOfService": "https://checkout.com/terms/",
    "contact": {
      "name": "Checkout.com Support",
      "url": "https://checkout.com",
      "email": "support@checkout.com"
    },
    "license": {
      "name": "Checkout.com",
      "url": "https://checkout.com/api/license/"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://assets.checkout.com/docs/logos/logo-checkout-api-dark.svg",
      "backgroundColor": "#E6E7EC",
      "altText": "Checkout.com API logo"
    }
  },
  "servers": [
    {
      "url": "https://api.checkout.com",
      "description": "Live API"
    },
    {
      "url": "https://api.sandbox.checkout.com",
      "description": "Sandbox API"
    }
  ],
  "paths": { },
  "components": {
    "schemas": {
      "01_SepaAddress": {
        "required": [
          "address_line1",
          "city",
          "zip",
          "country"
        ],
        "type": "object",
        "properties": {
          "address_line1": {
            "type": "string",
            "description": "The first line of the address",
            "example": "Brandenburger Tor"
          },
          "address_line2": {
            "type": "string",
            "description": "The second line of the address",
            "example": "Pariser Platz"
          },
          "city": {
            "type": "string",
            "description": "The address city",
            "example": "Berlin"
          },
          "state": {
            "type": "string",
            "description": "The address state",
            "example": "Berlin"
          },
          "zip": {
            "type": "string",
            "description": "The address zip/postal code",
            "example": "10117"
          },
          "country": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "The two-letter <a href=\"https://docs.checkout.com/docs/country-codes\" target=\"blank\">ISO country code</a> of the address",
            "example": "DE"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address_line1": {
            "maxLength": 200,
            "type": "string",
            "description": "The first line of the address",
            "example": "Checkout.com"
          },
          "address_line2": {
            "maxLength": 200,
            "type": "string",
            "description": "The second line of the address",
            "example": "90 Tottenham Court Road"
          },
          "city": {
            "maxLength": 50,
            "type": "string",
            "description": "The address city",
            "example": "London"
          },
          "state": {
            "maxLength": 50,
            "type": "string",
            "description": "The address state",
            "example": "London"
          },
          "zip": {
            "maxLength": 50,
            "type": "string",
            "description": "The address zip/postal code",
            "example": "W1T 4TJ"
          },
          "country": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "The two-letter <a href=\"https://docs.checkout.com/resources/codes/country-codes\" target=\"blank\">ISO country code</a> of the address",
            "example": "GB"
          }
        }
      },
      "Batch": {
        "required": [
          "id",
          "status",
          "_links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^bat_(\\w{26})$",
            "type": "string",
            "description": "Batch identifier",
            "example": "bat_cyukd74c4xoezfuarvuwdcpzou"
          },
          "status": {
            "type": "string",
            "description": "The status of the batch",
            "example": "Processing"
          },
          "_links": {
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "description": "The URI of the batch",
                "example": {
                  "href": "https://api.checkout.com/batches/bat_fa72f568492b4d3eb6d81e0645e320f6"
                }
              }
            }
          }
        }
      },
      "SubmitBatchRequest": {
        "required": [
          "file_id",
          "action"
        ],
        "type": "object",
        "properties": {
          "file_id": {
            "pattern": "^file_(\\w{26})$",
            "type": "string",
            "description": "The identifier of the batch file previously uploaded via the [Files API](#tag/Files)",
            "example": "file_6lbss42ezvoufcb2beo76rvwly"
          },
          "action": {
            "enum": [
              "payment"
            ],
            "type": "string",
            "description": "The action to be performed against the batch",
            "example": "payment"
          },
          "reference": {
            "type": "string",
            "description": "Your reference for the batch. If provided, this will be validated against the batch file's header",
            "example": "payments-20180701"
          }
        },
        "description": "The batch request"
      },
      "SubmitBatchResponse": {
        "required": [
          "id",
          "status",
          "_links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^bat_(\\w{26})$",
            "type": "string",
            "description": "Batch identifier",
            "example": "bat_cyukd74c4xoezfuarvuwdcpzou"
          },
          "status": {
            "type": "string",
            "description": "The batch status",
            "example": "Processing"
          },
          "_links": {
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "description": "The URI of the batch",
                "example": {
                  "href": "https://api.checkout.com/batches/bat_fa72f568492b4d3eb6d81e0645e320f6"
                }
              }
            }
          }
        }
      },
      "CustomerCreateRequest": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "maxLength": 255,
            "type": "string",
            "description": "The customer's email address",
            "format": "email",
            "example": "JohnTest@test.com"
          },
          "name": {
            "maxLength": 255,
            "type": "string",
            "description": "The customer's name",
            "example": "John Test"
          },
          "phone": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            ],
            "description": "The customer's phone number"
          },
          "metadata": {
            "type": "object",
            "description": "Allows you to store additional information about a customer. You can include a maximum of 10 key-value pairs. Each key and value can be up to 100 characters long.",
            "example": {
              "coupon_code": "NY2018",
              "partner_id": 123989
            }
          }
        },
        "description": "The customer details"
      },
      "CustomerCreateResponse": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The customer's unique identifier",
            "example": "cus_y3oqhf46pyzuxjbcn2giaqnb44"
          }
        },
        "description": "Customer"
      },
      "CustomerGetInstrumentResponse": {
        "required": [
          "id",
          "type",
          "fingerprint",
          "expiry_month",
          "expiry_year",
          "last4",
          "bin"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the retrieved instrument",
            "example": "src_lmyvsjadlxxu7kqlgevt6ebkra"
          },
          "type": {
            "type": "string",
            "description": "The instrument type",
            "example": "card"
          },
          "fingerprint": {
            "pattern": "^([a-z0-9]{26})$",
            "type": "string",
            "description": "A token that can uniquely identify this card across all customers",
            "example": "vnsdrvikkvre3dtrjjvlm5du4q"
          },
          "expiry_month": {
            "minimum": 1,
            "maxLength": 2,
            "type": "integer",
            "description": "The expiry month",
            "example": 6
          },
          "expiry_year": {
            "maxLength": 4,
            "minLength": 4,
            "type": "integer",
            "description": "The expiry year",
            "example": 2025
          },
          "name": {
            "type": "string",
            "description": "The name of the cardholder",
            "example": "John Test"
          },
          "scheme": {
            "type": "string",
            "description": "The card scheme",
            "example": "VISA"
          },
          "last4": {
            "maxLength": 4,
            "minLength": 4,
            "type": "string",
            "description": "The last four digits of the card number",
            "example": "9996"
          },
          "bin": {
            "type": "string",
            "description": "The card issuer's bank identification number (BIN)",
            "example": "454347"
          },
          "card_type": {
            "enum": [
              "Credit",
              "Debit",
              "Prepaid",
              "Charge"
            ],
            "type": "string",
            "description": "The card type",
            "example": "Credit"
          },
          "card_category": {
            "enum": [
              "Consumer",
              "Commercial"
            ],
            "type": "string",
            "description": "The card category",
            "example": "Consumer"
          },
          "issuer": {
            "type": "string",
            "description": "The name of the card issuer",
            "example": "GOTHAM STATE BANK"
          },
          "issuer_country": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "The card issuer's country (<a href=\"https://docs.checkout.com/resources/codes/country-codes\" target=\"blank\">two-letter ISO code</a>)",
            "example": "US"
          },
          "product_id": {
            "type": "string",
            "description": "The issuer/card scheme product identifier",
            "example": "F"
          },
          "product_type": {
            "type": "string",
            "description": "The issuer/card scheme product type",
            "example": "CLASSIC"
          },
          "account_holder": {
            "type": "object",
            "properties": {
              "billing_address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Address"
                  }
                ],
                "description": "The billing address of the account holder"
              },
              "phone": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Phone"
                  }
                ],
                "description": "The phone number of the account holder"
              }
            },
            "description": "The account holder details"
          }
        }
      },
      "CustomerGetResponse": {
        "required": [
          "id",
          "email"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The customer's unique identifier",
            "example": "cus_y3oqhf46pyzuxjbcn2giaqnb44"
          },
          "email": {
            "type": "string",
            "description": "The customer's email address",
            "format": "email",
            "example": "JohnTest@test.com"
          },
          "default": {
            "type": "string",
            "description": "The ID for this customer's default instrument",
            "example": "src_imu3wifxfvlebpqqq5usjrze6y"
          },
          "name": {
            "type": "string",
            "description": "The customer's name",
            "example": "Jack Test"
          },
          "phone": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            ],
            "description": "The customer's phone number"
          },
          "metadata": {
            "type": "object",
            "description": "A set of key-value pairs that is attached to a customer",
            "example": {
              "coupon_code": "NY2018",
              "partner_id": 123989
            }
          },
          "instruments": {
            "title": "Instrument",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerGetInstrumentResponse"
            },
            "description": "The details of the instruments linked to this customer"
          }
        },
        "description": "The customer details"
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address of the customer",
            "example": "JohnTest@test.com"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer",
            "example": "John Test"
          },
          "default": {
            "type": "string",
            "description": "The instrument ID for this customer’s default instrument",
            "example": "src_imu3wifxfvlebpqqq5usjrze6y"
          },
          "phone": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            ],
            "description": "The customer's phone number"
          },
          "metadata": {
            "type": "object",
            "description": "Allows you to store additional information about a customer. You can include a maximum of 10 key-value pairs. Each key and value can be up to 100 characters long.",
            "example": {
              "coupon_code": "NY2018",
              "partner_id": 123989
            }
          }
        },
        "description": "The customer attached to the instrument"
      },
      "Dispute": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^(dsp)_(\\w{22})$",
            "type": "string",
            "description": "The dispute identifier. This is the same as the payment action ID",
            "example": "dsp_rbhwd2qrg13uhrp2newf"
          },
          "category": {
            "enum": [
              "fraudulent",
              "unrecognized",
              "canceled_recurring",
              "product_service_not_received",
              "not_as_described",
              "credit_not_issued",
              "duplicate",
              "incorrect_amount",
              "general"
            ],
            "type": "string",
            "description": "The reason for the dispute. [Find out more](https://docs.checkout.com/risk-management/disputes#Disputes-Disputereasonsandrecommendedevidence)",
            "example": "fraudulent"
          },
          "amount": {
            "type": "number",
            "description": "The amount that is being disputed, in the processing currency",
            "example": 999
          },
          "currency": {
            "type": "string",
            "description": "The processing currency",
            "example": "GBP"
          },
          "reason_code": {
            "type": "string",
            "description": "The reason code provided by the card scheme",
            "example": "C42"
          },
          "status": {
            "enum": [
              "evidence_required",
              "evidence_under_review",
              "resolved",
              "won",
              "lost",
              "canceled",
              "expired",
              "accepted"
            ],
            "type": "string",
            "description": "The current status of the dispute",
            "example": "evidence_required"
          },
          "resolved_reason": {
            "enum": [
              "rapid_dispute_resolution",
              "negative_amount",
              "already_refunded"
            ],
            "type": "string",
            "description": "If the dispute is automatically resolved, `resolved_reason` will contain the reason why it was resolved",
            "example": "already_refunded"
          },
          "relevant_evidence": {
            "type": "array",
            "items": {
              "enum": [
                "proof_of_delivery_or_service",
                "invoice_or_receipt",
                "invoice_showing_distinct_transactions",
                "customer_communication",
                "refund_or_cancellation_policy",
                "recurring_transaction_agreement",
                "additional_evidence"
              ],
              "type": "string",
              "example": "proof_of_delivery_or_service"
            },
            "description": "<i>This list and the dispute categories will change over time. Your evidence logic should be informed by this field, not hard coded.</i>"
          },
          "evidence_required_by": {
            "type": "string",
            "description": "The deadline by which to respond to the dispute. This corresponds to `received_on` + `n`, where `n` is a number of calendar days set by the scheme/acquirer",
            "format": "ISO-8601",
            "example": "2018-08-21T00:00:00Z"
          },
          "received_on": {
            "type": "string",
            "description": "The date and time at which the dispute was issued",
            "format": "ISO-8601",
            "example": "2018-08-01T04:00:10Z"
          },
          "last_update": {
            "type": "string",
            "description": "The date and time at which the dispute was last updated",
            "format": "ISO-8601",
            "example": "2018-08-04T10:53:13Z"
          },
          "payment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The payment identifier",
                "example": "pay_88cb4e671m1da22e9bbbyx"
              },
              "amount": {
                "type": "number",
                "description": "The amount that is being disputed, in the processing currency",
                "example": 999
              },
              "currency": {
                "type": "string",
                "description": "The payment currency",
                "example": "GBP"
              },
              "method": {
                "type": "string",
                "description": "The payment method used",
                "example": "Visa"
              },
              "arn": {
                "type": "string",
                "description": "The acquirer reference number (ARN)",
                "example": "AA246873253573571073808"
              },
              "processed_on": {
                "type": "string",
                "description": "The date and time at which the payment was requested",
                "format": "ISO-8601",
                "example": "2018-08-01T08:18:10Z"
              }
            }
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "properties": {
                  "href": {
                    "example": "https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf"
                  }
                },
                "description": "The dispute retrieval endpoint"
              },
              "evidence": {
                "properties": {
                  "href": {
                    "example": "https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf/evidence"
                  }
                },
                "description": "The dispute evidence retrieval endopint"
              }
            }
          }
        }
      },
      "DisputePaged": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "description": "The numbers of items to return",
            "example": 10
          },
          "skip": {
            "type": "integer",
            "description": "The number of results to skip",
            "example": 10
          },
          "from": {
            "type": "string",
            "description": "The date and time from which to filter disputes, based on the dispute's `last_update` field",
            "format": "ISO-8601",
            "example": "2018-08-12T01:15:56Z"
          },
          "to": {
            "type": "string",
            "description": "The date and time until which to filter disputes, based on the dispute's `last_update` field",
            "format": "ISO-8601",
            "example": "2018-08-13T11:09:01Z"
          },
          "statuses": {
            "type": "string",
            "description": "One or more comma-separated statuses. This works like a logical *OR* operator",
            "example": "evidence_required,evidence_under_review"
          },
          "id": {
            "pattern": "^(dsp)_(\\w{22})$",
            "type": "string",
            "description": "The unique identifier of the dispute",
            "example": "dsp_rbhwd2qrg13uhrp2newf"
          },
          "payment_id": {
            "pattern": "^(pay)_(\\w{26})$",
            "type": "string",
            "description": "The unique identifier of the payment",
            "example": "pay_88cb4e671m1da22e9bbbyx"
          },
          "payment_reference": {
            "type": "string",
            "description": "An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`",
            "example": "th7zxa1kcnqmes8"
          },
          "payment_arn": {
            "type": "string",
            "description": "The acquirer reference number (ARN) that you can use to query the issuing bank",
            "example": "74548998294293193445538"
          },
          "this_channel_only": {
            "type": "boolean",
            "description": "If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business",
            "example": true
          },
          "total_count": {
            "type": "integer",
            "description": "The total number of disputes retrieved (without taking into consideration skip and limit parameters)",
            "example": 1
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DisputeSummary"
            },
            "description": "The list of disputes"
          }
        }
      },
      "DisputeSummary": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^(dsp)_(\\w{22})$",
            "type": "string",
            "description": "The dispute identifier. This is the same as the action ID in the reconciliation API or the charge ID in the Hub.",
            "example": "dsp_rbhwd2qrg13uhrp2newf"
          },
          "category": {
            "enum": [
              "fraudulent",
              "unrecognized",
              "canceled_recurring",
              "product_service_not_received",
              "not_as_described",
              "credit_not_issued",
              "duplicate",
              "incorrect_amount",
              "general"
            ],
            "type": "string",
            "description": "The reason for the dispute. [Find out more](https://docs.checkout.com/docs/disputes#section-dispute-reasons-and-recommended-evidence)",
            "example": "fraudulent"
          },
          "status": {
            "enum": [
              "received",
              "evidence_required",
              "evidence_under_review",
              "resolved",
              "closed",
              "won",
              "lost",
              "canceled",
              "accepted"
            ],
            "type": "string",
            "description": "The current status of the dispute",
            "example": "evidence_required"
          },
          "amount": {
            "type": "number",
            "description": "The amount that is being disputed, in the processing currency",
            "example": 999
          },
          "currency": {
            "type": "string",
            "description": "The currency the payment was made in",
            "example": "GBP"
          },
          "payment_id": {
            "type": "string",
            "description": "The unique payment identifier",
            "example": "pay_88cb4e671m1da22e9bbbyx"
          },
          "payment_reference": {
            "type": "string",
            "description": "An optional reference (such as an order ID) a merchant can use to later identify the charge. Previously known as TrackId",
            "example": "th7zxa1kcnqmes8"
          },
          "payment_arn": {
            "type": "string",
            "description": "The acquirer reference number that can be used to query the issuing bank",
            "example": "74548998294293193445538"
          },
          "payment_method": {
            "type": "string",
            "description": "The payment method/card scheme",
            "example": "VISA"
          },
          "evidence_required_by": {
            "type": "string",
            "description": "The deadline by which to respond to the dispute. This corresponds to `received_on` + `n`, where `n` is a number of calendar days set by the scheme/acquirer",
            "format": "ISO-8601",
            "example": "2018-08-22T00:00:00Z"
          },
          "received_on": {
            "type": "string",
            "description": "The date and time at which the dispute was issued",
            "format": "ISO-8601",
            "example": "2018-08-01T01:15:56Z"
          },
          "last_update": {
            "type": "string",
            "description": "The date and time at which the dispute was last updated",
            "format": "ISO-8601",
            "example": "2018-08-12T04:15:56Z"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "properties": {
                  "href": {
                    "example": "https://api.checkout.com/disputes/dsp_rbhwd2qrg13uhrp2newf"
                  }
                },
                "description": "The dispute retrieval endpoint"
              }
            }
          }
        }
      },
      "Evidence": {
        "type": "object",
        "properties": {
          "proof_of_delivery_or_service_file": {
            "type": "string",
            "description": "The file ID of the file you uploaded as a proof of delivery or service",
            "example": "file_jmbfgkjromvcrn9t4qu4"
          },
          "proof_of_delivery_or_service_text": {
            "type": "string",
            "description": "A brief text description of the file. You can also use this field to provide a link",
            "example": "Delivery slip signed by the customer"
          },
          "proof_of_delivery_or_service_date_text": {
            "type": "string",
            "description": "The date on which the item was delivered. You can also use this field to provide a link",
            "example": "Merchandise was delivered on 2018-12-30"
          }
        }
      },
      "File": {
        "required": [
          "file",
          "purpose"
        ],
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "description": "The path of the file to upload, and its type. <br><i>This must be a local path.</i>",
            "example": "file=@/path/receipt.png;type=image/png"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the file upload. You must set this to `dispute_evidence`",
            "example": "dispute_evidence"
          }
        }
      },
      "FilePurpose": {
        "enum": [
          "dispute_evidence"
        ],
        "type": "string",
        "description": "The list of file upload purposes. Currently this is only `dispute_evidence`",
        "example": "dispute_evidence"
      },
      "FileResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The file identifier",
            "example": "file_6lbss42ezvoufcb2beo76rvwly"
          },
          "filename": {
            "type": "string",
            "description": "The filename, including its extension",
            "example": "receipt.jpg"
          },
          "purpose": {
            "$ref": "#/components/schemas/FilePurpose"
          },
          "size": {
            "type": "integer",
            "description": "The size of the file upload object (in bytes)",
            "example": 1024
          },
          "uploaded_on": {
            "type": "string",
            "description": "The date and time file was uploaded (in UTC)",
            "format": "ISO-8601",
            "example": "2019-05-17T16:48:52Z"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "properties": {
                  "href": {
                    "example": "https://api.checkout.com/files/file_6lbss42ezvoufcb2beo76rvwly"
                  }
                },
                "description": "The file information retrieval URL"
              },
              "download": {
                "properties": {
                  "href": {
                    "example": "https://file-bucket.s3.eu-west-1.amazonaws.com/ucdac/ucdac/6lbss42ezvoufcb2beo76rvwly?X-Amz-Expires=3600&x-amz-security-token=FQoDYXdzENL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEa"
                  }
                },
                "description": "The temporary file download URL. This expires after 60 minutes"
              }
            }
          }
        },
        "description": "File was retrieved successfully"
      },
      "FileUploadResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The file identifier",
            "example": "file_6lbss42ezvoufcb2beo76rvwly"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "properties": {
                  "href": {
                    "example": "https://api.checkout.com/files/file_6lbss42ezvoufcb2beo76rvwly"
                  }
                },
                "description": "The file information retrieval URL"
              }
            }
          }
        },
        "description": "File uploaded successfully"
      },
      "ProvideEvidenceRequest": {
        "type": "object",
        "properties": {
          "proof_of_delivery_or_service_file": {
            "type": "string",
            "description": "A file containing proof of delivery of goods or services",
            "example": "file_jmbfgkjromvcrn9t4qu4"
          },
          "proof_of_delivery_or_service_text": {
            "maximum": 500,
            "type": "string",
            "description": "A brief text description of the file. You can also use this field to provide a link",
            "example": "http://checkout.com/document.pdf"
          },
          "invoice_or_receipt_file": {
            "type": "string",
            "description": "A file containing an invoice/receipt",
            "example": "file_jmbfgkjromvcrn9t4qu4"
          },
          "invoice_or_receipt_text": {
            "maximum": 500,
            "type": "string",
            "description": "A brief text description of the file. You can also use this field to provide a link",
            "example": "Copy of the invoice"
          },
          "invoice_showing_distinct_transactions_file": {
            "type": "string",
            "description": "A file containing invoice showing two distinct transactions",
            "example": "file_jmbfgkjromvcrn9t4qu4"
          },
          "invoice_showing_distinct_transactions_text": {
            "maximum": 500,
            "type": "string",
            "description": "A brief text description of the file. You can also use this field to provide a link",
            "example": "Copy of invoice #1244 showing two transactions"
          },
          "customer_communication_file": {
            "type": "string",
            "description": "A file containing customer cummunication",
            "example": "file_jmbfgkjromvcrn9t4qu4"
          },
          "customer_communication_text": {
            "maximum": 500,
            "type": "string",
            "description": "A brief text description of the file. You can also use this field to provide a link",
            "example": "Copy of an email exchange with the cardholder"
          },
          "refund_or_cancellation_policy_file": {
            "type": "string",
            "description": "A file containing refund/cancellation policy",
            "example": "file_jmbfgkjromvcrn9t4qu4"
          },
          "refund_or_cancellation_policy_text": {
            "maximum": 500,
            "type": "string",
            "description": "A brief text description of the file. You can also use this field to provide a link",
            "example": "Copy of the refund policy"
          },
          "recurring_transaction_agreement_file": {
            "type": "string",
            "description": "A file containing the recurring transaction agreement",
            "example": "file_jmbfgkjromvcrn9t4qu4"
          },
          "recurring_transaction_agreement_text": {
            "maximum": 500,
            "type": "string",
            "description": "A brief text description of the file. You can also use this field to provide a link",
            "example": "Copy of the recurring transaction agreement"
          },
          "additional_evidence_file": {
            "type": "string",
            "description": "A file containing additional supporting documents",
            "example": "file_jmbfgkjromvcrn9t4qu4"
          },
          "additional_evidence_text": {
            "maximum": 500,
            "type": "string",
            "description": "A brief text description of the file. You can also use this field to provide a link",
            "example": "Scanned document"
          },
          "proof_of_delivery_or_service_date_file": {
            "type": "string",
            "description": "A file showing the delivery date of the provided service/merchandise",
            "example": "file_jmbfgkjromvcrn9t4qu4"
          },
          "proof_of_delivery_or_service_date_text": {
            "maximum": 500,
            "type": "string",
            "description": "A brief text description of the file. You can also use this field to provide a link",
            "example": "Copy of the customer receipt showing the merchandise was delivered on 2018-12-20"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "0HL80RJLS76I7"
          },
          "error_type": {
            "type": "string",
            "example": "request_malformed"
          }
        }
      },
      "BillingDetails": {
        "type": "object",
        "properties": {
          "address_line_1": {
            "type": "string",
            "example": "372 Weimann Lane"
          },
          "address_line_2": {
            "type": "string",
            "example": "Rolfson Alley"
          },
          "post_code": {
            "type": "string",
            "example": "ew1 7zb"
          },
          "country": {
            "type": "string",
            "example": "SJ"
          },
          "city": {
            "type": "string",
            "example": "North Benedicthaven"
          },
          "state": {
            "type": "string",
            "example": "Georgia"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "example": "cust_7508EA38E86A4569AF12E483519E332D"
          },
          "expiry_month": {
            "type": "string",
            "example": "06"
          },
          "expiry_year": {
            "type": "string",
            "example": "2018"
          },
          "billing_details": {
            "$ref": "#/components/schemas/BillingDetails"
          },
          "id": {
            "type": "string",
            "example": "card_D44D7F4CCC6348698717CD80072808B0"
          },
          "last4": {
            "type": "string",
            "example": "424242******4242"
          },
          "payment_method": {
            "type": "string",
            "example": "VISA"
          },
          "fingerprint": {
            "type": "string",
            "example": "f639cab2745bee4140bf86df6b6d6e255c5945aac3788d923fa047ea4c208622"
          },
          "name": {
            "type": "string",
            "example": "Test Customer"
          },
          "cvv_check": {
            "type": "string",
            "example": "Y"
          },
          "avs_check": {
            "type": "string",
            "example": "S"
          }
        }
      },
      "CustomerPaymentPlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "customer_plan_id": {
            "type": "string"
          },
          "card_id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "plan_track_id": {
            "type": "string"
          },
          "auto_cap_time": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "cycle": {
            "type": "string"
          },
          "recurring_count": {
            "type": "integer"
          },
          "recurring_count_left": {
            "type": "integer"
          },
          "total_collected_value": {
            "type": "integer"
          },
          "total_collected_count": {
            "type": "integer"
          },
          "current_recurring_status": {
            "type": "integer"
          },
          "start_date": {
            "type": "string"
          },
          "previous_recurring_date": {
            "type": "string"
          },
          "next_recurring_date": {
            "type": "string"
          }
        }
      },
      "Data": {
        "type": "object",
        "properties": {
          "id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentId"
              }
            ],
            "description": "The payment unique identifier"
          },
          "action_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ActionId"
              }
            ],
            "description": "The unique identifier for the action performed against this payment"
          },
          "amount": {
            "type": "integer",
            "description": "The payment amount",
            "example": 6540
          },
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "The currency in which the payment was made (<a href=\"https://docs.checkout.com/resources/codes/currency-codes\" target=\"blank\">three-letter ISO code</a>)",
            "example": "USD"
          },
          "approved": {
            "type": "boolean",
            "description": "Whether the payment request was approved",
            "example": true
          },
          "status": {
            "enum": [
              "Pending",
              "Authorized",
              "Voided",
              "Partially Captured",
              "Captured",
              "Partially Refunded",
              "Refunded",
              "Declined",
              "Cancelled"
            ],
            "type": "string",
            "description": "The status of the payment",
            "example": "Authorized"
          },
          "auth_code": {
            "type": "string",
            "description": "The acquirer authorization code, if the payment was authorized.",
            "example": "643381"
          },
          "response_code": {
            "type": "string",
            "description": "The gateway response code",
            "example": "10000"
          },
          "response_summary": {
            "type": "string",
            "description": "The gateway response summary",
            "example": "Approved"
          },
          "3ds": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/3dsEnrollmentData"
              }
            ],
            "description": "Provides 3D Secure enrollment status if the payment was downgraded to non-3D Secure",
            "example": {
              "downgraded": true,
              "enrolled": "N"
            }
          },
          "flagged": {
            "type": "boolean",
            "description": "Whether the payment was flagged by a risk check",
            "default": false,
            "example": true
          },
          "source": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentResponseSource"
              }
            ],
            "description": "The source of the payment"
          },
          "customer": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentResponseCustomer"
              }
            ],
            "description": "The customer to which this payment is linked"
          },
          "processed_on": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ServerTimestamp"
              }
            ],
            "description": "The date/time the payment was processed"
          },
          "reference": {
            "type": "string",
            "description": "Your reference for the payment",
            "example": "ORD-5023-4E89"
          },
          "metadata": {
            "type": "object",
            "description": "A set of key-value pairs that you can attach to a payment. It can be useful for storing additional information in a structured format.",
            "example": {
              "coupon_code": "NY2018",
              "partner_id": 123989
            }
          }
        },
        "description": "The event data"
      },
      "EventId": {
        "maxLength": 30,
        "minLength": 30,
        "type": "string",
        "description": "The unique event identifier",
        "example": "evt_az5sblvku4ge3dwpztvyizgcau"
      },
      "EventLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Link"
              }
            ],
            "description": "The URI of the event",
            "example": {
              "href": "https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau"
            }
          },
          "webhooks-retry": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Link"
              }
            ],
            "description": "A link to retry all of the webhooks configured for the event",
            "example": {
              "href": "https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/webhooks/retry"
            }
          }
        },
        "description": "The links related to the event"
      },
      "EventObject": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/EventId"
          },
          "type": {
            "type": "string",
            "description": "The event type",
            "example": "payment_approved"
          },
          "version": {
            "type": "string",
            "description": "Determines the version of the event sent",
            "example": "2.0"
          },
          "created_on": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ServerTimestamp"
              }
            ],
            "description": "The date/time the event occurred"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationSummary"
            },
            "description": "The notifications (e.g., webhooks) that have been sent for the event"
          },
          "_links": {
            "$ref": "#/components/schemas/EventLinks"
          }
        }
      },
      "EventResult": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "description": "The total number of events",
            "example": 100
          },
          "limit": {
            "type": "integer",
            "description": "The `limit` query parameter",
            "example": 10
          },
          "skip": {
            "type": "integer",
            "description": "The `skip` query parameter",
            "example": 10
          },
          "from": {
            "type": "string",
            "description": "The `from` query parameter",
            "format": "date-time",
            "example": "2018-01-01T00:00:00.0000000+00:00"
          },
          "to": {
            "type": "string",
            "description": "The `to` query parameter",
            "format": "date-time",
            "example": "2018-01-15T12:00:00.0000000+00:00"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventSummary"
            }
          }
        }
      },
      "EventSummary": {
        "type": "object",
        "properties": {
          "id": {
            "maxLength": 30,
            "minLength": 30,
            "type": "string",
            "description": "The event identifier",
            "example": "evt_az5sblvku4ge3dwpztvyizgcau"
          },
          "type": {
            "type": "string",
            "description": "The event type",
            "example": "payment_approved"
          },
          "created_on": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ServerTimestamp"
              }
            ],
            "description": "The date/time the event occurred"
          },
          "_links": {
            "$ref": "#/components/schemas/EventLinks"
          }
        }
      },
      "EventTypesObject": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "example": "2.0"
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "card_verification_declined",
              "card_verified",
              "dispute_canceled",
              "dispute_evidence_required",
              "dispute_expired",
              "dispute_lost",
              "dispute_resolved",
              "dispute_won",
              "payment_approved",
              "payment_risk_matched",
              "payment_pending",
              "payment_declined",
              "payment_expired",
              "payment_canceled",
              "payment_voided",
              "payment_void_declined",
              "payment_captured",
              "payment_capture_declined",
              "payment_capture_pending",
              "payment_refunded",
              "payment_refund_declined",
              "payment_refund_pending",
              "payment_chargeback",
              "payment_retrieval"
            ]
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/NotificationId"
          },
          "url": {
            "type": "string",
            "description": "The notification endpoint",
            "example": "https://example.com/webhooks"
          },
          "success": {
            "type": "boolean",
            "description": "Whether the notification eventually succeeded",
            "example": false
          },
          "content_type": {
            "type": "string",
            "description": "The content type of the data sent to the endpoint",
            "example": "json"
          },
          "attempts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationAttempt"
            },
            "description": "The notification events ordered by timestamp in descending order (latest first)"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "description": "The URI of the notification",
                "example": {
                  "href": "https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/notifications/ntf_az5sblvku4ge3dwpztvyizgcau"
                }
              },
              "retry": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "description": "A link to retry the notification to the configured webhook",
                "example": {
                  "href": "https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/webhooks/wh_5nuzkt62ddxuho5rwsvt6pyesi/retry"
                }
              }
            },
            "description": "The links related to the notification"
          }
        }
      },
      "NotificationAttempt": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "description": "The HTTP status code returned from the target server",
            "example": 400
          },
          "response_body": {
            "type": "string",
            "description": "The response body returned from the target server",
            "example": "Bad Request"
          },
          "send_mode": {
            "enum": [
              "Automatic",
              "Manual"
            ],
            "type": "string",
            "description": "Whether the notification was sent automatically or requested manually"
          },
          "timestamp": {
            "type": "string",
            "allOf": [
              {
                "$ref": "#/components/schemas/ServerTimestamp"
              }
            ],
            "description": "The date/time the attempt was made"
          }
        }
      },
      "NotificationId": {
        "maxLength": 30,
        "minLength": 30,
        "type": "string",
        "description": "The unique notification identifier",
        "example": "ntf_az5sblvku4ge3dwpztvyizgcau"
      },
      "NotificationSummary": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/NotificationId"
          },
          "url": {
            "type": "string",
            "description": "The notification endpoint",
            "example": "https://example.com/webhooks"
          },
          "success": {
            "type": "boolean",
            "description": "Whether the notification eventually succeeded",
            "example": false
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "example": {
                  "href": "https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/notifications/ntf_az5sblvku4ge3dwpztvyizgcau"
                }
              }
            },
            "description": "The links related to the notification"
          }
        }
      },
      "Phone": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "string",
            "description": "The international <a href=\"https://docs.checkout.com/resources/codes/country-codes\" target=\"blank\">country calling code</a>",
            "example": "975"
          },
          "number": {
            "type": "string",
            "description": "The phone number",
            "example": "174217187"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Tablet 1 gold limited"
          },
          "description": {
            "type": "string",
            "example": "Nokia Lumia"
          },
          "sku": {
            "type": "string",
            "example": "1aab2aa"
          },
          "price": {
            "type": "integer",
            "example": 100
          },
          "quantity": {
            "type": "integer",
            "example": 1
          },
          "image": {
            "type": "string",
            "example": "http://www.test_Jabari.com/"
          },
          "shipping_cost": {
            "type": "integer",
            "example": 10
          },
          "tracking_url": {
            "type": "string",
            "example": "https://www.tracker.com"
          }
        }
      },
      "ShippingDetails": {
        "type": "object",
        "properties": {
          "address_line_1": {
            "type": "string",
            "example": "333 Cormier Bypass"
          },
          "address_line_2": {
            "type": "string",
            "example": "Rolfson Alley"
          },
          "post_code": {
            "type": "string",
            "example": "BR3 6TK"
          },
          "country": {
            "type": "string",
            "example": "GB"
          },
          "city": {
            "type": "string",
            "example": "Bromley"
          },
          "state": {
            "type": "string",
            "example": "Greater London"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          }
        }
      },
      "HostedPaymentsRequest": {
        "required": [
          "currency",
          "billing",
          "success_url",
          "cancel_url",
          "failure_url"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "minimum": 1,
            "type": "integer",
            "description": "The payment amount. The exact format <a href=\"https://docs.checkout.com/docs/calculating-the-value\" target=\"_blank\">depends on the currency</a>",
            "example": 1000
          },
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "The three-letter <a href=\"https://docs.checkout.com/resources/codes/currency-codes\" target=\"blank\">ISO currency code</a> of the payment",
            "example": "GBP"
          },
          "reference": {
            "type": "string",
            "description": "A reference you can later use to identify this payment, such as an order number",
            "example": "ORD-123A"
          },
          "description": {
            "type": "string",
            "description": "A description of the payment",
            "example": "Payment for Gold Necklace"
          },
          "customer": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "An optional email address to associate with the customer",
                "format": "email",
                "example": "jokershere@email.com"
              },
              "name": {
                "type": "string",
                "description": "The customer's name. This will only set the name for new customers",
                "example": "Jack Napier"
              }
            },
            "description": "The customer's details"
          },
          "billing": {
            "required": [
              "address"
            ],
            "type": "object",
            "properties": {
              "address": {
                "required": [
                  "country"
                ],
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Address"
                  }
                ],
                "description": "The billing address"
              },
              "phone": {
                "required": [
                  "number"
                ],
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                ],
                "description": "The customer's phone number. This will override the phone number specified during tokenization"
              }
            },
            "additionalProperties": false,
            "description": "The billing details"
          },
          "products": {
            "maxItems": 1000,
            "minItems": 1,
            "type": "array",
            "items": {
              "required": [
                "name",
                "quantity",
                "price"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Descriptive item name",
                  "example": "Gold Necklace"
                },
                "quantity": {
                  "minimum": 1,
                  "type": "integer",
                  "description": "The item quantity. Non-negative",
                  "example": 1
                },
                "price": {
                  "maximum": 100000000,
                  "minimum": 0,
                  "type": "integer",
                  "description": "Minor units. Includes tax, excludes discounts. The exact format <a href=\"https://docs.checkout.com/docs/calculating-the-value\" target=\"_blank\">depends on the currency</a>",
                  "example": 1000
                }
              },
              "additionalProperties": false
            },
            "description": "Details about the products in the order"
          },
          "risk": {
            "$ref": "#/components/schemas/RiskRequest"
          },
          "success_url": {
            "type": "string",
            "description": "For redirect payment methods, this overrides the default success redirect URL configured on your account",
            "format": "uri",
            "example": "https://example.com/payments/success"
          },
          "cancel_url": {
            "type": "string",
            "description": "The URL to which the customer should be directed if they cancel the payment",
            "format": "uri",
            "example": "https://example.com/payments/cancel"
          },
          "failure_url": {
            "type": "string",
            "description": "For redirect payment methods, this overrides the default failure redirect URL configured on your account",
            "format": "uri",
            "example": "https://example.com/payments/failure"
          },
          "metadata": {
            "title": "The Metadata Schema",
            "type": "object",
            "description": "Allows you to store additional information about the transaction. This object only allows one level of depth, so cannot accept non-primitive data types such as objects or arrays."
          },
          "3ds": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "Whether to process this payment as a 3D Secure payment",
                "default": false,
                "example": false
              },
              "attempt_n3d": {
                "type": "boolean",
                "description": "Determines whether to attempt a 3D Secure payment as non-3D Secure should the card issuer not be enrolled",
                "default": false,
                "example": false
              }
            },
            "description": "Information required for 3D Secure payments"
          }
        }
      },
      "HostedPaymentsResponse": {
        "required": [
          "_links"
        ],
        "type": "object",
        "properties": {
          "reference": {
            "type": "string",
            "description": "A reference you can later use to identify this payment, such as an order number",
            "example": "ORD-5023-4E89"
          },
          "_links": {
            "minItems": 1,
            "type": "object",
            "properties": {
              "redirect": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "example": {
                  "href": "https://pay.sandbox.checkout.com/page/xGQBg0AXl3cM"
                }
              }
            },
            "description": "The links related to the hosted payment",
            "readOnly": true
          }
        },
        "example": {
          "reference": "ORD-123A",
          "_links": {
            "redirect": {
              "href": "https://pay.sandbox.checkout.com/page/xGQBg0AXl3cM"
            }
          }
        }
      },
      "InstrumentRequest": {
        "required": [
          "type",
          "token"
        ],
        "type": "object",
        "properties": {
          "type": {
            "pattern": "token",
            "type": "string",
            "description": "The instrument type",
            "example": "token"
          },
          "token": {
            "pattern": "^(tok)_(\\w{26})$ | ^(card_tok)_(\\w{12})$",
            "type": "string",
            "description": "The Checkout.com token",
            "example": "tok_asoto22g2fsu7prwomy12sgfsa"
          },
          "account_holder": {
            "type": "object",
            "properties": {
              "billing_address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Address"
                  }
                ],
                "description": "The billing address of the account holder"
              },
              "phone": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Phone"
                  }
                ],
                "description": "The phone number of the account holder"
              }
            },
            "description": "The account holder details"
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "pattern": "^(cus)_(\\w{26})$",
                "type": "string",
                "description": "The identifier of an existing customer"
              },
              "email": {
                "maxLength": 255,
                "type": "string",
                "description": "An optional email address to associate with the customer",
                "format": "email"
              },
              "name": {
                "maxLength": 255,
                "type": "string",
                "description": "The customer's name. This will only set the name for *new* customers."
              },
              "phone": {
                "description": "The customer's phone number. This will only set the phone number for *new* customers.",
                "example": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Phone"
                    }
                  ]
                }
              },
              "default": {
                "type": "boolean",
                "description": "If true, this instrument will become the default for the customer. If a *new* customer is created as a result of this request, the instrument will automatically be the default."
              }
            },
            "description": "The customer's details",
            "example": {
              "email": "jokershere@gmail.com",
              "name": "Jack Napier",
              "phone": {
                "country_code": 1,
                "number": 4155552671
              },
              "default": true
            }
          }
        }
      },
      "InstrumentResponse": {
        "required": [
          "id",
          "type",
          "expiry_month",
          "expiry_year",
          "last4",
          "bin",
          "fingerprint"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the payment source or destination that can be used later for payments",
            "example": "src_wmlfc3zyhqzehihu7giusaaawu"
          },
          "type": {
            "type": "string",
            "description": "The underlying instrument type (for instruments created from Checkout.com tokens, this will reflect the type of instrument that was tokenized)",
            "example": "card"
          },
          "fingerprint": {
            "type": "string",
            "description": "A token that can uniquely identify this instrument across all customers"
          },
          "expiry_month": {
            "minimum": 1,
            "maxLength": 2,
            "type": "integer",
            "description": "The expiry month",
            "example": 6
          },
          "expiry_year": {
            "maxLength": 4,
            "minLength": 4,
            "type": "integer",
            "description": "The expiry year",
            "example": 2025
          },
          "scheme": {
            "type": "string",
            "description": "The card scheme",
            "example": "VISA"
          },
          "last4": {
            "maxLength": 4,
            "minLength": 4,
            "type": "string",
            "description": "The last four digits of the card number",
            "example": "9996"
          },
          "bin": {
            "type": "string",
            "description": "The card issuer's bank identification number (BIN)",
            "example": "454347"
          },
          "card_type": {
            "enum": [
              "Credit",
              "Debit",
              "Prepaid",
              "Charge",
              "Deferred Debit"
            ],
            "type": "string",
            "description": "The card type",
            "example": "Credit"
          },
          "card_category": {
            "enum": [
              "Consumer",
              "Commercial"
            ],
            "type": "string",
            "description": "The card category",
            "example": "Consumer"
          },
          "issuer": {
            "type": "string",
            "description": "The name of the card issuer",
            "example": "GOTHAM STATE BANK"
          },
          "issuer_country": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "The card issuer's country (<a href=\"https://docs.checkout.com/resources/codes/country-codes\" target=\"blank\">two-letter ISO code</a>)",
            "example": "US"
          },
          "product_id": {
            "type": "string",
            "description": "The issuer/card scheme product identifier",
            "example": "F"
          },
          "product_type": {
            "type": "string",
            "description": "The issuer/card scheme product type",
            "example": "CLASSIC"
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The customer's unique identifier",
                "example": "cus_y3oqhf46pyzuxjbcn2giaqnb44"
              },
              "email": {
                "type": "string",
                "description": "The customer's email address",
                "format": "email",
                "example": "JohnTest@test.com"
              },
              "name": {
                "type": "string",
                "description": "The customer's name",
                "example": "Jack Test"
              }
            },
            "description": "The customer details"
          }
        }
      },
      "RetrieveInstrumentResponse": {
        "required": [
          "id",
          "type",
          "fingerprint",
          "expiry_month",
          "expiry_year",
          "last4",
          "bin"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The instrument id for the retrieved instrument",
            "example": "src_lmyvsjadlxxu7kqlgevt6ebkra"
          },
          "type": {
            "type": "string",
            "description": "The instrument type",
            "example": "card"
          },
          "fingerprint": {
            "pattern": "^([a-z0-9]{26})$",
            "type": "string",
            "description": "A token that can uniquely identify this card across all customers",
            "example": "vnsdrvikkvre3dtrjjvlm5du4q"
          },
          "expiry_month": {
            "minimum": 1,
            "maxLength": 2,
            "type": "integer",
            "description": "The expiry month",
            "example": 6
          },
          "expiry_year": {
            "maxLength": 4,
            "minLength": 4,
            "type": "integer",
            "description": "The expiry year",
            "example": 2025
          },
          "name": {
            "type": "string",
            "description": "The name of the cardholder",
            "example": "John Test"
          },
          "scheme": {
            "type": "string",
            "description": "The card scheme",
            "example": "VISA"
          },
          "last4": {
            "maxLength": 4,
            "minLength": 4,
            "type": "string",
            "description": "The last four digits of the card number",
            "example": "9996"
          },
          "bin": {
            "type": "string",
            "description": "The card issuer's bank identification number (BIN)",
            "example": "454347"
          },
          "card_type": {
            "enum": [
              "Credit",
              "Debit",
              "Prepaid",
              "Charge",
              "Deferred Debit"
            ],
            "type": "string",
            "description": "The card type",
            "example": "Credit"
          },
          "card_category": {
            "enum": [
              "Consumer",
              "Commercial"
            ],
            "type": "string",
            "description": "The card category",
            "example": "Consumer"
          },
          "issuer": {
            "type": "string",
            "description": "The name of the card issuer",
            "example": "GOTHAM STATE BANK"
          },
          "issuer_country": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "The card issuer's country (<a href=\"https://docs.checkout.com/resources/codes/country-codes\" target=\"blank\">two-letter ISO code</a>)",
            "example": "US"
          },
          "product_id": {
            "type": "string",
            "description": "The issuer/card scheme product identifier",
            "example": "F"
          },
          "product_type": {
            "type": "string",
            "description": "The issuer/card scheme product type",
            "example": "CLASSIC"
          },
          "account_holder": {
            "type": "object",
            "properties": {
              "billing_address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Address"
                  }
                ],
                "description": "The billing address of the account holder"
              },
              "phone": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Phone"
                  }
                ],
                "description": "The phone number of the account holder"
              }
            },
            "description": "The account holder details"
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of an existing customer",
                "example": "cus_gajmdgunwwlehbctuj6a3sifpm"
              },
              "email": {
                "type": "string",
                "description": "The email address of the customer",
                "example": "JohnTest@test.com"
              },
              "name": {
                "type": "string",
                "description": "The name address of the customer",
                "example": "John Test"
              },
              "default": {
                "type": "boolean",
                "description": "True, if this instrument is set as the default for the customer",
                "example": true
              }
            },
            "description": "The customer attached to the instrument"
          }
        }
      },
      "UpdateInstrumentRequest": {
        "type": "object",
        "properties": {
          "expiry_month": {
            "minimum": 1,
            "maxLength": 2,
            "type": "integer",
            "description": "The expiry month",
            "example": 6
          },
          "expiry_year": {
            "maxLength": 4,
            "minLength": 4,
            "type": "integer",
            "description": "The expiry year",
            "example": 2025
          },
          "name": {
            "type": "string",
            "description": "The name of the cardholder",
            "example": "John Test"
          },
          "account_holder": {
            "type": "object",
            "properties": {
              "billing_address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Address"
                  }
                ],
                "description": "The billing address of the account holder"
              },
              "phone": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Phone"
                  }
                ],
                "description": "The phone number of the account holder"
              }
            },
            "description": "The account holder details"
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of an existing customer",
                "example": "cus_gajmdgunwwlehbctuj6a3sifpm"
              },
              "default": {
                "type": "boolean",
                "description": "If true, sets this instrument as the default for the customer (if false, no changes are actioned)",
                "example": true
              }
            },
            "description": "The customer attached to the instrument"
          }
        }
      },
      "UpdateInstrumentResponse": {
        "required": [
          "type",
          "fingerprint"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The instrument type",
            "example": "card"
          },
          "fingerprint": {
            "pattern": "^([a-z0-9]{26})$",
            "type": "string",
            "description": "A token that can uniquely identify this card across all customers",
            "example": "vnsdrvikkvre3dtrjjvlm5du4q"
          }
        }
      },
      "InvalidError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "details": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "IPAddress": {
        "maxLength": 45,
        "type": "string",
        "format": "ipv4",
        "example": "90.197.169.245"
      },
      "Link": {
        "required": [
          "href"
        ],
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "description": "The link URL"
          }
        }
      },
      "SelfLink": {
        "required": [
          "rel"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Link"
          }
        ],
        "properties": {
          "rel": {
            "enum": [
              "self"
            ],
            "type": "string",
            "description": "The link type"
          }
        }
      },
      "PagingError": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "0HL80RJLS76I7"
          },
          "error_type": {
            "type": "string",
            "example": "request_invalid"
          },
          "error_codes": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "paging_limit_invalid"
            }
          }
        }
      },
      "PaymentLinksRequest": {
        "required": [
          "amount",
          "currency",
          "billing"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "minimum": 1,
            "type": "integer",
            "description": "The payment amount. The exact format <a href=\"https://docs.checkout.com/docs/calculating-the-value\" target=\"_blank\">depends on the currency</a>",
            "example": 200
          },
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "The three-letter <a href=\"https://docs.checkout.com/resources/codes/currency-codes\" target=\"blank\">ISO currency code</a> of the payment.<br><i>The `currency` and `billing.address.country` fields determine which payment methods are shown on the payment page</i>.",
            "example": "GBP"
          },
          "reference": {
            "type": "string",
            "description": "A reference you can later use to identify this payment, such as an order number.<br><i>Required for PayPal payments<i>.",
            "example": "ORD-123A"
          },
          "description": {
            "type": "string",
            "description": "A description of the payment",
            "example": "Payment for Gold Necklace"
          },
          "expires_in": {
            "maximum": 1209600,
            "minimum": 1,
            "type": "integer",
            "description": "The time for which the link remains valid, in seconds.",
            "default": 86400,
            "example": 604800
          },
          "customer": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "An email address to associate with the customer",
                "format": "email",
                "example": "jokershere@email.com"
              },
              "name": {
                "type": "string",
                "description": "The customer's name. This will only set the name for new customers",
                "example": "Jack Napier"
              }
            },
            "description": "The customer's details"
          },
          "billing": {
            "required": [
              "address"
            ],
            "type": "object",
            "properties": {
              "address": {
                "required": [
                  "country"
                ],
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Address"
                  }
                ],
                "description": "The billing address"
              },
              "phone": {
                "required": [
                  "number"
                ],
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                ],
                "description": "The customer's phone number"
              }
            },
            "additionalProperties": false,
            "description": "The billing details"
          },
          "products": {
            "maxItems": 1000,
            "minItems": 1,
            "type": "array",
            "items": {
              "required": [
                "name",
                "quantity",
                "price"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Descriptive item name",
                  "example": "Gold Necklace"
                },
                "quantity": {
                  "minimum": 1,
                  "type": "integer",
                  "description": "The item quantity",
                  "example": 1
                },
                "price": {
                  "maximum": 100000000,
                  "minimum": 0,
                  "type": "integer",
                  "description": "Minor units. Includes tax, excludes discounts.",
                  "example": 200
                }
              },
              "additionalProperties": false
            },
            "description": "Details about the products in the order"
          },
          "metadata": {
            "title": "The Metadata Schema",
            "type": "object",
            "description": "Allows you to store additional information about the transaction. This object only allows one level of depth, so cannot accept non-primitive data types such as objects or arrays."
          },
          "3ds": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "Whether to process this payment as a 3D Secure payment",
                "default": false
              },
              "attempt_n3d": {
                "type": "boolean",
                "description": "Determines whether to attempt a 3D Secure payment as non-3D Secure should the card issuer not be enrolled",
                "default": false
              }
            },
            "description": "Information required for 3D Secure payments"
          },
          "risk": {
            "$ref": "#/components/schemas/RiskRequest"
          },
          "return_url": {
            "type": "string",
            "description": "If provided, the success page will include a button that redirects your customer to the provided URL",
            "format": "uri",
            "example": "https://example.com/success"
          }
        }
      },
      "PaymentLinksResponse": {
        "required": [
          "_links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The request id",
            "example": "cid_7fbeb87f-322d-4a02-9758-2ca48ae65696"
          },
          "expires_on": {
            "type": "string",
            "description": "The date and time when the payment link expires",
            "format": "ISO 8601 date and time",
            "example": "2020-08-20T20:25:28+08:00"
          },
          "reference": {
            "type": "string",
            "description": "A reference you can later use to identify this payment, such as an order number",
            "example": "ORD-123A"
          },
          "_links": {
            "minItems": 1,
            "type": "object",
            "properties": {
              "redirect": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "example": {
                  "href": "https://pay.sandbox.checkout.com/link/ELqQJXdXzabU"
                }
              }
            },
            "description": "The links related to the hosted payment",
            "readOnly": true
          }
        }
      },
      "3dsData": {
        "type": "object",
        "properties": {
          "downgraded": {
            "type": "boolean",
            "description": "Inidicates whether this was a 3D Secure payment downgraded to non-3D Secure (when `attempt_n3d` is specified)",
            "example": false
          },
          "enrolled": {
            "type": "string",
            "description": "Indicates the 3D Secure enrollment status of the issuer\n  * `Y` - Issuer enrolled\n  * `N` - Customer not enrolled\n  * `U` - Unknown\n",
            "example": "Y"
          },
          "signature_valid": {
            "type": "string",
            "description": "Verification to ensure the integrity of the response",
            "example": "Y"
          },
          "authentication_response": {
            "type": "string",
            "description": "Indicates whether or not the cardholder was authenticated\n  * `Y` - Customer authenticated\n  * `N` - Customer not authenticated\n  * `A` - An authentication attempt occurred but could not be completed\n  * `U` - Unable to perform authentication\n",
            "example": "Y"
          },
          "cryptogram": {
            "type": "string",
            "description": "Base64 encoded cryptographic identifier (CAVV) used by the card schemes to validate the integrity of the 3D secure payment data",
            "example": "hv8mUFzPzRZoCAAAAAEQBDMAAAA="
          },
          "xid": {
            "type": "string",
            "description": "Unique identifier for the transaction assigned by the MPI",
            "example": "MDAwMDAwMDAwMDAwMDAwMzIyNzY="
          },
          "version": {
            "type": "string",
            "description": "Indicates the version of 3D Secure that was used for authentication",
            "example": "2.1.0"
          },
          "exemption": {
            "type": "string",
            "description": "Specifies an exemption reason so that the payment is not processed using 3D Secure authentication",
            "example": "low_value"
          }
        }
      },
      "3dsEnrollmentData": {
        "type": "object",
        "properties": {
          "downgraded": {
            "type": "boolean",
            "description": "Indicates whether this was a 3D Secure payment downgraded to non-3D-Secure (when `attempt_n3d` is specified)",
            "example": false
          },
          "enrolled": {
            "type": "string",
            "description": "Indicates the 3D Secure enrollment status of the issuer\n  * `Y` - Issuer enrolled\n  * `N` - Customer not enrolled\n  * `U` - Unknown\n",
            "example": "Y"
          }
        }
      },
      "3dsRequest": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether to process this payment as a 3D Secure payment",
            "default": false,
            "example": true
          },
          "attempt_n3d": {
            "type": "boolean",
            "description": "Determines whether to attempt a 3D Secure payment as non-3D Secure\nshould the card issuer not be enrolled\n",
            "default": false,
            "example": true
          },
          "eci": {
            "maxLength": 2,
            "type": "string",
            "description": "The Electronic Commerce Indicator security level associated with the 3D Secure enrollment result. Required if using a third-party merchant plug-in (MPI)",
            "example": "05"
          },
          "cryptogram": {
            "maxLength": 50,
            "type": "string",
            "description": "A Base64 encoded cryptographic identifier (CAVV) used by the card schemes to validate the cardholder authentication result (3D Secure). Required if using an external MPI",
            "example": "AgAAAAAAAIR8CQrXcIhbQAAAAAA="
          },
          "xid": {
            "maxLength": 100,
            "type": "string",
            "description": "The 3D Secure transaction identifier. Required if using an external MPI with 3D Secure 2.X.X and a Mastercard card, or with 3D Secure 1.X.X for any supported card scheme",
            "example": "MDAwMDAwMDAwMDAwMDAwMzIyNzY="
          },
          "version": {
            "maxLength": 10,
            "type": "string",
            "description": "Indicates the version of 3D Secure that was used for authentication. Defaults to 1.0.0 if not provided",
            "example": "2.0.1"
          },
          "exemption": {
            "enum": [
              "low_value",
              "secure_corporate_payment",
              "trusted_listing"
            ],
            "type": "string",
            "description": "Specifies an exemption reason so that the payment is not processed using 3D Secure authentication. Learn more about exemptions in our <a href=\"https://docs.checkout.com/risk-management/sca-compliance-guide#SCAcomplianceguide-PossibleSCAexemptionsexemptions\">SCA compliance guide</a>.",
            "example": "low_value"
          }
        },
        "description": "Information required for 3D Secure payments"
      },
      "ActionId": {
        "maxLength": 30,
        "minLength": 30,
        "pattern": "^(act)_(\\w{26})$",
        "type": "string",
        "description": "The action identifier",
        "example": "act_y3oqhf46pyzuxjbcn2giaqnb44"
      },
      "BillingDescriptor": {
        "required": [
          "name",
          "city"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 25,
            "type": "string",
            "description": "A dynamic description of the charge",
            "example": "SUPERHEROES.COM"
          },
          "city": {
            "minimum": 1,
            "maxLength": 13,
            "type": "string",
            "description": "The city from which the charge originated",
            "example": "GOTHAM"
          }
        },
        "description": "An optional dynamic billing descriptor displayed on the account owner's statement\n"
      },
      "CaptureAcceptedResponse": {
        "required": [
          "action_id"
        ],
        "type": "object",
        "properties": {
          "action_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ActionId"
              }
            ],
            "description": "The unique identifier for the capture action"
          },
          "reference": {
            "type": "string",
            "description": "Your reference for the capture request",
            "example": "ORD-5023-4E89"
          },
          "_links": {
            "minItems": 2,
            "required": [
              "payment"
            ],
            "type": "object",
            "properties": {
              "payment": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "description": "The URI of the payment to be captured. Use this to check the status of the payment",
                "example": {
                  "href": "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44"
                }
              },
              "redirect": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  }
                ],
                "description": "For some alternative payments, the URI that the customer should be redirected to to complete the capture",
                "example": {
                  "href": "https://api.checkout.com/redirect/act_y3oqhf46pyzuxjbcn2giaqnb44"
                }
              }
            },
            "description": "The links related to the capture",
            "readOnly": true
          }
        },
        "description": "Capture response"
      },
      "CaptureRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "minimum": 0,
            "type": "integer",
            "description": "The amount to capture. If not specified, the full payment amount will be captured\n",
            "example": 6540
          },
          "reference": {
            "maxLength": 50,
            "type": "string",
            "description": "A reference you can later use to identify this capture request",
            "example": "ORD-5023-4E89"
          },
          "metadata": {
            "type": "object",
            "description": "A set of key-value pairs that you can attach to the capture request. This can be useful for storing additional information in a structured format",
            "example": {
              "coupon_code": "NY2018",
              "partner_id": 123989
            }
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string",
            "description": "The stock-keeping unit (SKU) identifier of the item",
            "example": "858818ac"
          },
          "name": {
            "type": "string",
            "description": "The name of the item or product",
            "example": "Kevlar batterang"
          },
          "description": {
            "type": "string",
            "description": "A description of the item or product",
            "example": "The fastest, hardest batterang known to man"
          },
          "image_url": {
            "type": "string",
            "description": "The URL of an image of the item or product",
            "format": "uri",
            "example": "http://example.com/batterang.jpg"
          },
          "price": {
            "type": "number",
            "description": "The unit price of the item or product in the minor currency unit",
            "example": 34.5
          },
          "quantity": {
            "type": "number",
            "description": "The number of the items purchased",
            "example": 2
          },
          "shipping_cost": {
            "type": "number",
            "description": "The shipping cost of the item",
            "example": 2.99
          },
          "shipping_tracking_url": {
            "type": "string",
            "description": "A URL to track the shipping status of the item",
            "format": "uri",
            "example": "http://www.dhl.co.uk/en/express/tracking.html?AWB=41f280bbe12cd787b47c&brand=DHL"
          }
        },
        "description": "The order line item or product that is being purchased"
      },
      "Payment": {
        "required": [
          "id",
          "requested_on",
          "amount",
          "currency",
          "status",
          "approved",
          "_links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentId"
              }
            ],
            "description": "Payment unique identifier"
          },
          "requested_on": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ServerTimestamp"
              }
            ],
            "description": "The date/time the payment was requested"
          },
          "source": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentResponseSource"
              }
            ],
            "description": "The source of the payment"
          },
          "destination": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentResponseDestination"
              }
            ],
            "description": "The destination of the payment"
          },
          "amount": {
            "type": "integer",
[...]
